In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# importing warnings
import warnings
warnings.filterwarnings('ignore')

### Q.1 Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

I need to find following details:Rank,Name,Artist,Upload date,Views

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Creating empty list
rank = []
name = []
artist = []
views = []
upload_date = []

# Scraping the rank
search_rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in search_rank:
    rank.append(i.text)

# Scraping the name
search_name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for j in search_name:
    name.append(j.text)

# Scraping the artist
search_artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for k in search_artist:
    artist.append(k.text)
    
# Scraping the views
search_view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for l in search_view:
    views.append(l.text)

# Scraping the upload date
search_upload_date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for m in search_upload_date:
    upload_date.append(m.text)

In [6]:
# Printing the length of each list
print(len(rank),len(name),len(artist),len(views),len(upload_date))

30 30 30 30 30

In [8]:
# Creadting empty data frame
df_wiki = pd.DataFrame({})

# Adding column & their respective data into data frame
df_wiki['Rank'] = rank
df_wiki['Name Of Video'] = name
df_wiki['Artist'] = artist
df_wiki['Views'] = views
df_wiki['Upload Data'] = upload_date

In [9]:
# Displaying the result
df_wiki

,Rank,Name Of Video,Artist,Views,Upload Data
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.96,"June 17, 2016"
1,2.,"""Despacito""[5]",Luis Fonsi,7.69,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.08,"October 8, 2016"
3,4.,"""Shape of You""[12]",Ed Sheeran,5.58,"January 30, 2017"
4,5.,"""See You Again""[14]",Wiz Khalifa,5.38,"April 6, 2015"
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.83,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.55,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.42,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.39,"March 6, 2014"
10,11.,"""Gangnam Style""[24]",Psy,4.30,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.79,"April 5, 2018"
12,13.,"""Sugar""[30]",Maroon 5,3.62,"January 14, 2015"
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015"
14,15.,"""Roar""[32]",Katy Perry,3.50,"September 5, 2013"
15,16.,"""Counting Stars""[33]",OneRepublic,3.48,"May 31, 2013"
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.47,"May 24, 2018"
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.39,"October 7, 2014"
18,19.,"""Girls Like You""[36]",Maroon 5,3.21,"May 31, 2018"
19,20.,"""Faded""[37]",Alan Walker,3.21,"December 3, 2015"
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014"
21,22.,"""Axel F""[39]",Crazy Frog,3.16,"June 16, 2009"
22,23.,"""Let Her Go""[40]",Passenger,3.15,"July 25, 2012"
23,24.,"""Bailando""[41]",Enrique Iglesias,3.15,"April 11, 2014"
24,25.,"""Lean On""[42]",Major Lazer,3.15,"March 22, 2015"
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014"
26,27.,"""Perfect""[44]",Ed Sheeran,3.06,"November 9, 2017"
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.05,"June 25, 2018"
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010"
29,30.,"""Mi Gente""[47]",J Balvin,3.02,"June 29, 2017"

In [10]:
# Fine tunning the data frame
df_wiki['Rank'] = df_wiki['Rank'].str.partition('.')[0]
df_wiki['Name Of Video'] = df_wiki['Name Of Video'].str.partition('[')[0]
df_wiki

,Rank,Name Of Video,Artist,Views,Upload Data
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,9.96,"June 17, 2016"
1,2,"""Despacito""",Luis Fonsi,7.69,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,6.08,"October 8, 2016"
3,4,"""Shape of You""",Ed Sheeran,5.58,"January 30, 2017"
4,5,"""See You Again""",Wiz Khalifa,5.38,"April 6, 2015"
5,6,"""Bath Song""",Cocomelon – Nursery Rhymes,4.83,"May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.55,"February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.48,"January 31, 2012"
8,9,"""Uptown Funk""",Mark Ronson,4.42,"November 19, 2014"
9,10,"""Phonics Song with Two Words""",ChuChu TV,4.39,"March 6, 2014"
10,11,"""Gangnam Style""",Psy,4.30,"July 15, 2012"
11,12,"""Dame Tu Cosita""",El Chombo,3.79,"April 5, 2018"
12,13,"""Sugar""",Maroon 5,3.62,"January 14, 2015"
13,14,"""Sorry""",Justin Bieber,3.50,"October 22, 2015"
14,15,"""Roar""",Katy Perry,3.50,"September 5, 2013"
15,16,"""Counting Stars""",OneRepublic,3.48,"May 31, 2013"
16,17,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.47,"May 24, 2018"
17,18,"""Thinking Out Loud""",Ed Sheeran,3.39,"October 7, 2014"
18,19,"""Girls Like You""",Maroon 5,3.21,"May 31, 2018"
19,20,"""Faded""",Alan Walker,3.21,"December 3, 2015"
20,21,"""Dark Horse""",Katy Perry,3.20,"February 20, 2014"
21,22,"""Axel F""",Crazy Frog,3.16,"June 16, 2009"
22,23,"""Let Her Go""",Passenger,3.15,"July 25, 2012"
23,24,"""Bailando""",Enrique Iglesias,3.15,"April 11, 2014"
24,25,"""Lean On""",Major Lazer,3.15,"March 22, 2015"
25,26,"""Shake It Off""",Taylor Swift,3.13,"August 18, 2014"
26,27,"""Perfect""",Ed Sheeran,3.06,"November 9, 2017"
27,28,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.05,"June 25, 2018"
28,29,"""Waka Waka (This Time for Africa)""",Shakira,3.02,"June 4, 2010"
29,30,"""Mi Gente""",J Balvin,3.02,"June 29, 2017"

In [11]:
# Closing the current driver
driver.close()

### Q.2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

I need to find following details:Match title (I.e. 1st ODI),Series,Place,Date,Time

Note: - From bcci.tv home page i have reach to the international fixture page through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.bcci.tv/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Accepting the cookies
accept_cookies = driver.find_element_by_xpath('//button[@class="cookie__accept btn btn-primary"]')
accept_cookies.click()

In [6]:
# Clicking on 'international' link
click_international = driver.find_element_by_xpath('//li[@class="nav-item ml-0"]')
click_international.click()
time.sleep(3)

In [7]:
# Clicking on 'More Fixtures'
for i in range(0,2):
    click_more_fixture = driver.find_element_by_xpath('//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
    click_more_fixture.click()
    time.sleep(3)

In [8]:
# Creating empty list
title = []
series = []
place = []
date = []
time = []

# Scraping title
for l in driver.find_elements_by_xpath('//div[@class="fixture-card-bottom"]/div'):
    title.append(l.text.partition('-')[0])

# Scraping series
search_series = driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/h5[2]/span')
for i in search_series:
    series.append(i.text)
    
# Scraping place    
for m in driver.find_elements_by_xpath('//div[@class="fixture-card-bottom"]/div'):
    place.append(m.text.partition('-')[2])
    
# Scraping date
search_date = driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/div/div[1]/h5')
for j in search_date:
    date.append(j.text)
    
# Scraping time
search_time = driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/div/div[2]/h5')
for k in search_time:
    time.append(k.text)

In [9]:
print(len(title),len(series),len(place),len(date),len(time))

20 20 20 20 20

In [10]:
# Creadting empty data frame
df_bcci = pd.DataFrame({})

# Adding column & their respective data into data frame
df_bcci['Title Of Match'] = title
df_bcci['Name Of Series'] = series
df_bcci['Place'] = place
df_bcci['Date'] = date
df_bcci['Time'] = time

In [11]:
# Displaying the result
df_bcci

,Title Of Match,Name Of Series,Place,Date,Time
0,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,1st ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,2nd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,3rd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,1st T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,2nd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stad...,18 FEB 2022,7:30 PM IST
9,3rd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Greenfield International Stadium, Thiruvanant...",20 FEB 2022,7:30 PM IST
10,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",5 MAR 2022,9:30 AM IST
12,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",13 MAR 2022,7:30 PM IST
13,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,...",15 MAR 2022,7:30 PM IST
14,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,18 MAR 2022,7:30 PM IST
15,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",14 JUN 2022,7:30 PM IST
18,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
19,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

In [12]:
# Closing the current driver
driver.close()

### Q.3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

I need to find following details:Name,Description

Note: - From guru99 home page i have to reach to selenium exception handling page through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.guru99.com/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Enter 'selenium exception handling' as to be search
search_item = driver.find_element_by_xpath('//input[@id="gsc-i-id1"]')
search_item.send_keys('selenium exception handling')

In [6]:
# Clicking on search button
clicking_search = driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]')
clicking_search.click()

In [7]:
# Getting the url of page
try :
    get_url = driver.find_element_by_xpath('//div[@class="gsc-wrapper"]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div[1]/a')
    get_url.get_attribute('href')
except :
    driver.close()

In [8]:
# Clicking on the link for going to page
driver.get(get_url.get_attribute('href'))

In [9]:
# Creating empty list
name = []
description = []

# Scraping the name of exception
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'):
    name.append(i.text)
    
# Scraping the description 
for j in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'):
    description.append(j.text)

In [10]:
# Printing the length of each list
print(len(name),len(description))

41 41

In [11]:
# Creadting empty data frame
df_ex = pd.DataFrame({})

# Adding column & their respective data into data frame
df_ex['Exception Name'] = name
df_ex['Exception Description'] = description

In [12]:
# Displaying the result
df_ex

,Exception Name,Exception Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [13]:
# Closing the current driver
driver.close()

### Q.4 Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

I have to find following details:Rank,State,GSDP,GSDP,Share,GDP($ billion)

Note: - From statisticstimes home page i have to reach to economy page through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('http://statisticstimes.com/')

In [ ]:
# Maximize the window
driver.maximize_window()

In [4]:
# Selecting the 'Economy'
select_economy = driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button')
select_economy.click()

In [5]:
# Clicking 'India'
click_india = driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
click_india.click()

In [6]:
# Clicking on 'GDP of indian state'
click_is = driver.find_element_by_xpath('//div[@style="float:left;background-color:seashell;width:400px;height:800px;"]/ul/li[1]/a')
click_is.click()

In [7]:
# Creating empty list
rank = []
state = []
gsdp_19_20 = []
gsdp_18_19 = []
share = []
gdp = []

# Scraping rank
for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)

# Scraping state
for j in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]'):
    state.append(j.text)
    
# Scraping gsdp_19_20
for k in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]'):
    gsdp_19_20.append(k.text)
    
# Scraping gsdp_18_19
for l in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]'):
    gsdp_18_19.append(l.text)
    
# Scraping share
for m in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]'):
    share.append(m.text)
    
# Scraping gdp
for n in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]'):
    gdp.append(n.text)

In [8]:
# Printing length of each list
print(len(rank),len(state),len(gsdp_19_20),len(gsdp_18_19),len(share),len(gdp))

33 33 33 33 33 33

In [9]:
# Creadting empty data frame
df_ec = pd.DataFrame({})

# Adding column & their respective data into data frame
df_ec['Rank'] = rank
df_ec['Name Of State'] = state
df_ec['GSDP:19-20 (Cr INR at Current prices)'] = gsdp_19_20
df_ec['GSDP:18-19 (Cr INR at Current prices)'] = gsdp_18_19
df_ec['Share'] = share
df_ec['GDP ($billion)'] = gdp

In [10]:
# Displaying the result
df_ec

,Rank,Name Of State,GSDP:19-20 (Cr INR at Current prices),GSDP:18-19 (Cr INR at Current prices),Share,GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [12]:
# Close current driver
driver.close()

### Q.5 Scrape the details of trending repositories on Github.com.

Url = https://github.com/

I have to find the following details:Repository title,Repository description,Contributors count,Language used

Note: - From the home page i have to click on the trending option from Explore menu through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://github.com/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Selecting 'Explore'
select_explore = driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]')
select_explore.click()

In [6]:
# Clicking on 'Treanding'
click_trending = driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]/details/div/ul/li[5]')
click_trending.click()

In [7]:
# Getting the url of all repositories into empty list
url_repositories = []
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
    url_repositories.append(i.get_attribute('href'))
url_repositories

['https://github.com/Asabeneh/30-Days-Of-JavaScript',
 'https://github.com/Igglybuff/awesome-piracy',
 'https://github.com/521xueweihan/HelloGitHub',
 'https://github.com/megadose/holehe',
 'https://github.com/alibaba/xquic',
 'https://github.com/TheAlgorithms/Python',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/VGVentures/slide_puzzle',
 'https://github.com/iluwatar/java-design-patterns',
 'https://github.com/withshepherd/faker.js',
 'https://github.com/lynn/hello-wordl',
 'https://github.com/TheAlgorithms/Java',
 'https://github.com/sunym1993/flash-linux0.11-talk',
 'https://github.com/ibraheemdev/modern-unix',
 'https://github.com/faridrashidi/kaggle-solutions',
 'https://github.com/solo-io/bumblebee',
 'https://github.com/MichMich/MagicMirror',
 'https://github.com/LaravelDaily/laravel-tips',
 'https://github.com/BookStackApp/BookStack',
 'https://github.com/akullpp/awesome-java',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/kdn251/interviews',
 'https://github.com/ascoders/weekly',
 'https://github.com/facebookresearch/mae',
 'https://github.com/JumpCrypto/crypto-reading-list']

In [8]:
# Creating empty list 
title = []
description = []
count = []
language = []

In [9]:
# Scraping the title
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]'):
    title.append(i.text)

In [10]:
for i in url_repositories:
    driver.get(i)
    time.sleep(3)
    
    # Scraping description
    try :
        description_re = driver.find_element_by_xpath('//p[@class="f4 my-3"]')
        description.append(description_re.text)
    except :
        description.append('-')
        
    # Scraping count
    try :
        count_re = driver.find_element_by_xpath('//*[contains(text(),"Contributors")]')
        count.append(count_re.text)
    except :
        count.append('-')
        
    # Scraping language
    lang = []
    try :
        language_re = driver.find_element_by_xpath('//*[contains(text(),"Languages")]/following::div[1]/following::ul[1]')
        lang.append(language_re.text.replace('\n',''))
        language.append(lang)
    except :
        language.append('-')

In [11]:
# Printing the length of each list
print(len(title),len(description),len(count),len(language))

25 25 25 25

In [12]:
# Creadting empty data frame
df_git = pd.DataFrame({})

# Adding column & their respective data into data frame
df_git['Repository Title'] = title
df_git['Repository Description'] = description
df_git['Contributors Count'] = count
df_git['Language Used'] = language

In [13]:
# Displaying the result
df_git

,Repository Title,Repository Description,Contributors Count,Language Used
0,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,Contributors 18,[JavaScript97.8%HTML2.2%]
1,Igglybuff / awesome-piracy,A curated list of awesome warez and piracy links,Contributors 118,[HTML98.4%Shell1.6%]
2,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",Contributors 11,[Python100.0%]
3,megadose / holehe,holehe allows you to check if the mail is used...,Contributors 14,[Python100.0%]
4,alibaba / xquic,-,Contributors 5,[C95.3%CMake2.6%Shell2.1%]
5,TheAlgorithms / Python,All Algorithms implemented in Python,Contributors 792,[Python100.0%]
6,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"Contributors 4,374",[JavaScript49.3%TypeScript44.4%CSS5.9%Shell0.2...
7,VGVentures / slide_puzzle,-,Contributors 4,[Dart95.5%HTML2.6%Other1.9%]
8,iluwatar / java-design-patterns,Design patterns implemented in Java,,[Java99.1%Other0.9%]
9,withshepherd / faker.js,-,Contributors 200,[JavaScript100.0%]
10,lynn / hello-wordl,Wordle clone you can play forever,-,[TypeScript73.2%CSS17.1%HTML9.7%]
11,TheAlgorithms / Java,All Algorithms implemented in Java,Contributors 336,[Java100.0%]
12,sunym1993 / flash-linux0.11-talk,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,Contributors 11,[C19.3%HTML11.8%Roff11.8%E5.3%GAP5.0%M4.9%Othe...
13,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,Contributors 10,-
14,faridrashidi / kaggle-solutions,🏅 Collection of Kaggle Solutions and Ideas 🏅,-,[HTML55.0%CSS30.4%Python9.9%Ruby4.7%]
15,solo-io / bumblebee,Get eBPF programs running from the cloud to th...,Contributors 8,[C97.1%Go2.7%Other0.2%]
16,MichMich / MagicMirror,MagicMirror² is an open source modular smart m...,Contributors 281,[JavaScript90.3%CSS6.3%Nunjucks2.6%Other0.8%]
17,LaravelDaily / laravel-tips,Awesome tips for Laravel,Contributors 37,-
18,BookStackApp / BookStack,A platform to create documentation/wiki conten...,Contributors 145,[PHP87.2%Blade6.6%JavaScript4.1%SCSS2.1%]
19,akullpp / awesome-java,"A curated list of awesome frameworks, librarie...",Contributors 314,-
20,microsoft / PowerToys,Windows system utilities to maximize productivity,Contributors 262,[C#40.1%C++37.0%G-code22.0%C0.6%PowerShell0.3%...
21,kdn251 / interviews,Everything you need to know to get the job.,Contributors 30,[Java100.0%]
22,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,Contributors 58,[JavaScript100.0%]
23,facebookresearch / mae,PyTorch implementation of MAE https//arxiv.org...,Contributors 2,[Python100.0%]
24,JumpCrypto / crypto-reading-list,-,Contributors 2,-

In [14]:
# Fine Tunning the data frame
df_git['Contributors Count'] = df_git['Contributors Count'].str.partition(' ')[2]
df_git

,Repository Title,Repository Description,Contributors Count,Language Used
0,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,18,[JavaScript97.8%HTML2.2%]
1,Igglybuff / awesome-piracy,A curated list of awesome warez and piracy links,118,[HTML98.4%Shell1.6%]
2,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",11,[Python100.0%]
3,megadose / holehe,holehe allows you to check if the mail is used...,14,[Python100.0%]
4,alibaba / xquic,-,5,[C95.3%CMake2.6%Shell2.1%]
5,TheAlgorithms / Python,All Algorithms implemented in Python,792,[Python100.0%]
6,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,374",[JavaScript49.3%TypeScript44.4%CSS5.9%Shell0.2...
7,VGVentures / slide_puzzle,-,4,[Dart95.5%HTML2.6%Other1.9%]
8,iluwatar / java-design-patterns,Design patterns implemented in Java,,[Java99.1%Other0.9%]
9,withshepherd / faker.js,-,200,[JavaScript100.0%]
10,lynn / hello-wordl,Wordle clone you can play forever,,[TypeScript73.2%CSS17.1%HTML9.7%]
11,TheAlgorithms / Java,All Algorithms implemented in Java,336,[Java100.0%]
12,sunym1993 / flash-linux0.11-talk,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,11,[C19.3%HTML11.8%Roff11.8%E5.3%GAP5.0%M4.9%Othe...
13,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,10,-
14,faridrashidi / kaggle-solutions,🏅 Collection of Kaggle Solutions and Ideas 🏅,,[HTML55.0%CSS30.4%Python9.9%Ruby4.7%]
15,solo-io / bumblebee,Get eBPF programs running from the cloud to th...,8,[C97.1%Go2.7%Other0.2%]
16,MichMich / MagicMirror,MagicMirror² is an open source modular smart m...,281,[JavaScript90.3%CSS6.3%Nunjucks2.6%Other0.8%]
17,LaravelDaily / laravel-tips,Awesome tips for Laravel,37,-
18,BookStackApp / BookStack,A platform to create documentation/wiki conten...,145,[PHP87.2%Blade6.6%JavaScript4.1%SCSS2.1%]
19,akullpp / awesome-java,"A curated list of awesome frameworks, librarie...",314,-
20,microsoft / PowerToys,Windows system utilities to maximize productivity,262,[C#40.1%C++37.0%G-code22.0%C0.6%PowerShell0.3%...
21,kdn251 / interviews,Everything you need to know to get the job.,30,[Java100.0%]
22,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,58,[JavaScript100.0%]
23,facebookresearch / mae,PyTorch implementation of MAE https//arxiv.org...,2,[Python100.0%]
24,JumpCrypto / crypto-reading-list,-,2,-

In [15]:
# Close current driver
driver.close()

### Q.6 Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

I have to find the following details: Song name,Artist name,Last week rank,Peak rank,Weeks on board

Note: - From the home page i have to click on the charts option then hot 100-page link through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('http://www.billboard.com/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Clicking on charts
click_charts = driver.find_element_by_xpath('//div[@class="main-menu // u-display-none@desktop-max u-width-100p@desktop-xl-max u-height-36"]/nav/ul/li[1]')
click_charts.click()

In [6]:
# Getting View chart url
click_vc = driver.find_element_by_xpath('//div[@class="weekly-chart-modified-background lrv-u-position-relative u-z-index-middle-bottom"]/div[1]/div/div[3]/a')
click_vc.get_attribute('href')

'https://www.billboard.com/charts/hot-100/'

In [7]:
# Clicking on url
driver.get(click_vc.get_attribute('href'))

In [8]:
# Creating empty list
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_board = []

In [10]:
# Scraping the song name
for i in driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]/h3'):
    song_name.append(i.text)

# Scraping the artist name
for j in driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]/span'):
    artist_name.append(j.text)

# Scraping the last week rank
for k in driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]/span'):
    last_week_rank.append(k.text)

# Scraping the peak rank
for l in driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]/span'):
    peak_rank.append(l.text)

# Scraping the weeks on board
for m in driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]/span'):
    weeks_on_board.append(m.text)

In [11]:
# Printing the length of each list
print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board))

100 100 100 100 100

In [12]:
# Creadting empty data frame
df_billiboard = pd.DataFrame({})

# Adding column & their respective data into data frame
df_billiboard['Song Name'] = song_name
df_billiboard['Artist Name'] = artist_name
df_billiboard['Last Week Rank'] = last_week_rank
df_billiboard['Peak Rank'] = peak_rank
df_billiboard['Weeks On Board'] = weeks_on_board

In [13]:
# Displaying the result
df_billiboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

In [14]:
# Close current driver
driver.close()

### Q.7 Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

I have to find the following details:Name,Designation,Company,Skills they hire for,Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.naukri.com/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Getting the url of recruiters
select_recruiters = driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a')
select_recruiters.get_attribute('href')

'https://www.naukri.com/recruiters'

In [6]:
# Clicking the url
driver.get(select_recruiters.get_attribute('href'))

In [7]:
# Entering the as to be search
search_input = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_input.send_keys('Data science')

In [8]:
# Clicking on search button
clicking_search = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
clicking_search.click()

In [9]:
# Creating empty llist
name = []
designation = []
company = []
skill = []
location = []

In [11]:
# Getting the url of all recruiters
recruiters_url = []
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[1]'):
    recruiters_url.append(i.get_attribute('href'))
print(len(recruiters_url))

50

In [12]:
# Scraping the name
for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
    name.append(i.text)
    
# Scraping designation
for j in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
    designation.append(j.text)
    
# Scraping company
for k in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
    company.append(k.text)
    
# for skill
for l in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    skill.append(l.text)

In [14]:
for j in recruiters_url:
    driver.get(j)
    time.sleep(3)
    
    # for location
    try:
        rec_location = driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[5]/a')
        location.append(rec_location.text)
    except:
        location.append('-')

In [15]:
# Printing the length of each list
print(len(name),len(designation),len(company),len(skill),len(location))

50 50 50 50 50

In [16]:
# Creadting empty data frame
df_recruiters = pd.DataFrame({})

# Adding column & their respective data into data frame
df_recruiters['Name'] = name
df_recruiters['Designation'] = designation
df_recruiters['Company'] = company
df_recruiters['Skills They Hire For'] = skill
df_recruiters['Location'] = location

In [17]:
# Displaying the result
df_recruiters

,Name,Designation,Company,Skills They Hire For,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore

In [18]:
# Close current driver
driver.close()

### Q.8 Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

I have to find the following details:Book name,Author name,Volumes sold,Publisher,Genre

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Creating empty list
rank = []
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

In [6]:
# Scraping rank
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[1]'):
    rank.append(i.text)

# Scraping book name
for j in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    book_name.append(j.text)
    
# Scraping author name
for k in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    author_name.append(k.text)
    
# Scraping volumes sold
for l in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    volumes_sold.append(l.text)
    
# Scraping publisher
for m in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    publisher.append(m.text)
    
# Scraping genre
for n in driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    genre.append(n.text)

In [7]:
# Printing the length of each list
print(len(rank),len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100 100

In [8]:
# Creadting empty data frame
df_theguardian = pd.DataFrame({})

# Adding column & their respective data into data frame
df_theguardian['Rank'] = rank
df_theguardian['Book Name'] = book_name
df_theguardian['Author Name'] = author_name
df_theguardian['Volumes Sold'] = volumes_sold
df_theguardian['Publisher'] = publisher
df_theguardian['Genre'] = genre

In [9]:
# Displaying the result
df_theguardian

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [10]:
# Close the current driver
driver.close()

### Q.9 Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

I have to find the following details:Name,Year span,Genre,Run time,Ratings,Votes

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.imdb.com/list/ls095964455/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Creating empty list
imdb_rank = []
imdb_name = []
imdb_year = []
imdb_genre = []
imdb_runtime = []
imdb_rating = []
imdb_votes = []

In [6]:
# Scraping Rank
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[1]'):
    imdb_rank.append(i.text)
    
# Scraping name
for j in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a'):
    imdb_name.append(j.text)
    
# Scraping year
for k in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
    imdb_year.append(k.text)
    
# Scraping genre
for l in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]'):
    imdb_genre.append(l.text)
    
# Scraping run time
for m in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]'):
    imdb_runtime.append(m.text)
    
# Scraping rating
for n in driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div/span[2]'):
    imdb_rating.append(n.text)
    
# Scraping votes
for o in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]'):
    imdb_votes.append(o.text)

In [7]:
# Printing length of each list
print(len(imdb_rank),len(imdb_name),len(imdb_year),len(imdb_genre),len(imdb_runtime),len(imdb_rating),len(imdb_votes))

100 100 100 100 100 100 100

In [8]:
# Creadting empty data frame
df_imdb = pd.DataFrame({})

# Adding column & their respective data into data frame
df_imdb['Rank'] = imdb_rank
df_imdb['Name'] = imdb_name
df_imdb['Year Span'] = imdb_year
df_imdb['Genre'] = imdb_genre
df_imdb['Run Time'] = imdb_runtime
df_imdb['Rating'] = imdb_rating
df_imdb['Votes'] = imdb_votes

In [9]:
# Displaying the result
df_imdb

,Rank,Name,Year Span,Genre,Run Time,Rating,Votes
0,1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,927,443"
1,2.,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"949,642"
2,3.,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,167"
3,4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,950"
4,5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,230"
...,...,...,...,...,...,...,...
95,96.,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,101"
96,97.,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,887"
97,98.,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,752"
98,99.,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,196"
99,100.,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,519"

In [10]:
# Close the current driver
driver.close()

### Q.10 Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

I have to find the following details:Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year

Note: - from the home page i have to go to the ShowAllDataset page through code.

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://archive.ics.uci.edu/')

In [4]:
# Maximize the window
driver.maximize_window()

In [5]:
# Getting the url of all data set
get_url = driver.find_element_by_xpath('//table[@bgcolor="#003366"]/tbody/tr/td[2]/span[2]/a')
get_url.get_attribute('href')

'https://archive.ics.uci.edu/ml/datasets.php'

In [6]:
# Clicking on the url
driver.get(get_url.get_attribute('href'))

In [7]:
# Creating empty list
dataset_name = []
dataset_type = []
task = []
attribute_type = []
no_of_instance = []
no_of_attribute = []
uci_year = []

In [8]:
# Scraping data set name
for i in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a'):
    dataset_name.append(i.text)
    
# Scraping dataset type
for j in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[1]/p'):
    dataset_type.append(j.text)
    
# Scraping task    
for k in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[2]/p'):
    task.append(k.text)

# Scraping attribute type
for l in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[3]/p'):
    attribute_type.append(l.text)
    
# Scraping no of instance
for m in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[4]/p'):
    no_of_instance.append(m.text)
    
# Scraping no of attribute
for n in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[5]/p'):
    no_of_attribute.append(n.text)
    
# Scraping year
for o in driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr[1]/following::tr/td/table/tbody/tr/td[2]/p/b/a/following::td[6]/p'):
    uci_year.append(o.text)

In [9]:
# Printing length of each list
print(len(dataset_name),len(dataset_type),len(task),len(attribute_type),len(no_of_instance),len(no_of_attribute),len(uci_year))

622 622 622 622 622 622 622

In [10]:
# Creadting empty data frame
df_uci = pd.DataFrame({})

# Adding column & their respective data into data frame
df_uci['Dataset Name'] = dataset_name
df_uci['Dataset Type'] = dataset_type
df_uci['Task'] = task
df_uci['Attribute Type'] = attribute_type
df_uci['No Of Instance'] = no_of_instance
df_uci['No Of Attribute'] = no_of_attribute
df_uci['Year'] = uci_year

In [11]:
# Displaying the result
df_uci

,Dataset Name,Dataset Type,Task,Attribute Type,No Of Instance,No Of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [12]:
# Close the current driver
driver.close()