#! pip install selenium

### Import all usefull libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
import time
import warnings
warnings.filterwarnings('ignore')

### Q.1 To scrape data for “Data Analyst” Job position in “Bangalore” location. Scrapping include the job-title, job-location, company_name, experience_required. We have to scrape first 10 jobs data. Finally create a dataframe of the scraped data

In [2]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [3]:
# Open url by driver
driver.get('https://www.naukri.com/')

In [4]:
# Input first element title to be as Search 'Data Analyst' from webpage
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

In [5]:
# Input second element location to be as Search 'Bangalore' from webpage
search_location = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_location.send_keys('Bangalore')

In [6]:
# Click on search button that provide us the result based on first and second element
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
# Creating an empty list for job-title, job-location, company_name
data_analyst_title = []
data_analyst_location = []
data_analyst_company_name = []
data_analyst_experience = []

In [8]:
# Scraping the title of the job
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="5010450c-0048-4bf8-b76c-714bb66ede77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="53523bde-7fc2-4faf-be2f-43e569531575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="691ff09e-56d3-4170-9a9f-b402dddd74e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="ca723efa-0bf8-43a8-9222-5a1954098d45")>]

In [9]:
#Insert all job result into data_analyst_title list
for i in title_tag:
    title = i.text
    data_analyst_title.append(title)
print('the title for starting four job are \n',data_analyst_title[0:4])

the title for starting four job are
 ['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll', 'Senior Data Analyst III', 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)', 'Customer Data Management Analyst']

In [10]:
# Scraping the location of the job
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="f57d5fe8-1653-4599-894e-a8603892c9c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="8ff0be3d-bad3-4a43-90ff-4dd59ed487c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="f2d083e8-26bf-4cff-9def-8bbc261e928d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="3c74bfb6-0c91-4793-92e0-6f8bb0675b71")>]

In [11]:
#Insert all location result into data_analyst_location list
for i in location_tag:
    location = i.text
    data_analyst_location.append(location)
print('the location for starting four job are\n',data_analyst_location[0:4])

the location for starting four job are
 ['Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Pune, Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [12]:
# Scraping the company name of job
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="59fe1c55-b906-465d-a4e7-abc96662c900")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="17992661-5c9e-4973-a789-f81e8b089be2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="2ed25b4a-c9bf-405a-b9ab-e8e309a4dfaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="73ca8ad3-c82c-435a-abd7-dbca14ccf0cf")>]

In [13]:
#Insert all company name result into data_analyst_company_name list
for i in company_tag:
    name = i.text
    data_analyst_company_name.append(name)
print('the company name for starting four job are\n',data_analyst_company_name[0:4])

the company name for starting four job are
 ['Flipkart', 'Flipkart', 'Genpact', 'Aspect']

In [14]:
# Scrapping the experience required for job
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="21350090-dc8a-436c-9578-e4b0e791d526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="d37aef46-8df6-4967-80fe-f3b3d511ec3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="955f86d5-ce58-4b11-bc95-5499710dc852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bafafbab8045270169de4b040b97438", element="78554a1b-1105-42a7-9dad-4d9934a8978a")>]

In [15]:
#Insert all experience required result into data_analyst_experience list
for i in experience_tag:
    req_experience = i.text
    data_analyst_experience.append(req_experience)
print('the required experience for starting four job are\n',data_analyst_experience[0:4])

the required experience for starting four job are
 ['1-6 Yrs', '2-4 Yrs', '7-12 Yrs', '0-2 Yrs']

In [16]:
#print the length of each list
print(len(data_analyst_title),len(data_analyst_company_name),len(data_analyst_location),len(data_analyst_experience))

20 20 20 20

In [17]:
# Creating empty data frame 
Data_Analyst = pd.DataFrame({})

# Adding column's into data frame
Data_Analyst['Title'] = data_analyst_title
Data_Analyst['Company Name'] = data_analyst_company_name
Data_Analyst['Location'] = data_analyst_location
Data_Analyst['Experience Required'] = data_analyst_experience

In [18]:
# Displaying data frame
Data_Analyst

,Title,Company Name,Location,Experience Required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,Bangalore/Bengaluru,1-6 Yrs
1,Senior Data Analyst III,Flipkart,Bengaluru/Bangalore,2-4 Yrs
2,Business Analyst/ Data Analyst- Capital Market...,Genpact,"Pune, Bangalore/Bengaluru",7-12 Yrs
3,Customer Data Management Analyst,Aspect,Bangalore/Bengaluru,0-2 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs
5,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,"Gurgaon/Gurugram, bangalore",3-5 Yrs
6,Senior Data Analyst,Rapido,Bangalore/Bengaluru,1-6 Yrs
7,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",5-10 Yrs
8,Senior Data Analyst,Flipkart,Bengaluru/Bangalore,4-5 Yrs
9,Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-6 Yrs
10,Data Analyst (On Contract),Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
11,Data Analyst,Schneider Electric,Bangalore/Bengaluru,2-5 Yrs
12,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs
13,Data Analyst / Engineer,Animaker India Private Limited,"Chennai, Bangalore/Bengaluru",4-9 Yrs
14,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
15,Senior Data Analyst for HANA Platform,Intel,Bangalore/Bengaluru,5-10 Yrs
16,Lead - Data Analyst - Leading US MNC,EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",6-11 Yrs
17,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",0-5 Yrs
18,Data Analyst,NetraDyne Technology India Private Limited,Bangalore/Bengaluru,2-5 Yrs
19,"Supervisor Role, Data Analyst, six sigma, Anal...",Concentrix Daksh Services,Bangalore/Bengaluru,3-6 Yrs

In [19]:
# Selectng first 10 jobs from data frame
Data_Analyst = Data_Analyst[0:10]

In [20]:
# Displaying first 10 jobs from data frame
Data_Analyst

,Title,Company Name,Location,Experience Required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,Bangalore/Bengaluru,1-6 Yrs
1,Senior Data Analyst III,Flipkart,Bengaluru/Bangalore,2-4 Yrs
2,Business Analyst/ Data Analyst- Capital Market...,Genpact,"Pune, Bangalore/Bengaluru",7-12 Yrs
3,Customer Data Management Analyst,Aspect,Bangalore/Bengaluru,0-2 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,3-8 Yrs
5,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,"Gurgaon/Gurugram, bangalore",3-5 Yrs
6,Senior Data Analyst,Rapido,Bangalore/Bengaluru,1-6 Yrs
7,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",5-10 Yrs
8,Senior Data Analyst,Flipkart,Bengaluru/Bangalore,4-5 Yrs
9,Openings For SQL Data Analyst,StackNexus Technologies India Pvt. Ltd,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-6 Yrs

In [21]:
# Closing the current driver
driver.close()

### Q.2 Program to scrape data for “Data Scientist” Job position in “Bangalore” location. We have to scrape the job-title, job-location, company_name. We have to scrape first 10 jobs data. Finally create a dataframe of the scraped data

In [22]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [23]:
# Open url by driver
driver.get(r'https://www.naukri.com/')

In [24]:
# Input first element title to be as Search 'Data Scientist' from webpage 
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [25]:
# Input second element location to be as Search 'Bangalore' from webpage 
search_location = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_location.send_keys('Bangalore')

In [26]:
# Click on search button that provide us the result based on first and second element
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [27]:
# Creating an empty list for job-title, job-location, company_name
Data_Scientist_title = []
Data_Scientist_location = []
Data_Scientist_company_name = []

In [28]:
# Scraping the title of the job
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="4c6231a0-e875-429b-8d70-a97918e98bbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="149d3c73-a6b8-4b04-9718-c51ebbdfa16f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="1ec5b616-4bb8-4c50-b67c-61efa8404a38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="361d4621-8d93-4a6c-8124-48ecb51e1ceb")>]

In [29]:
#Insert all job result into Data_Scientist_title list
for i in title_tag:
    title = i.text
    Data_Scientist_title.append(title)
Data_Scientist_title[0:4]

['Lead / Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [30]:
# Scraping the company name of job
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="7432b4ad-9202-467f-b076-87472d3f6d76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="4dd9066d-75db-4f26-9eb0-91136da8b4b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="9450773d-d92d-4775-ac5d-e43fd8bd6390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="06781016-48c5-49d1-afe5-26daa08e2e23")>]

In [31]:
#Insert all company name result into Data_Scientist_company_name list
for i in company_tag:
    company_name = i.text
    Data_Scientist_company_name.append(company_name)
Data_Scientist_company_name[0:4]

['Aviso Inc', 'Snaphunt', 'Ally-Executive', 'Visa']

In [32]:
# Scraping the location of the job
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="e07e1fed-5bae-4cd9-99b5-fd61d7e2d6ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="fda4a62c-f898-4d9f-94ef-cbc70283e026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="a6ec6e24-9ba1-4529-a24e-16462990c455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61ded7e5a73dc06db80976ba6d408cd", element="a0177108-98b5-41a6-b6bc-0bed687635c8")>]

In [33]:
#Insert all location result into Data_Scientist_location list
for i in location_tag:
    location = i.text
    Data_Scientist_location.append(location)
Data_Scientist_location[0:4]

['Mumbai, Hyderabad/Secunderabad, Pune, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [34]:
#print the length of each list
print(len(Data_Scientist_title),len(Data_Scientist_company_name),len(Data_Scientist_location))

20 20 20

In [35]:
# Creating empty data frame
Data_Scientist = pd.DataFrame({})

# Adding column's into data frame
Data_Scientist['Title'] = Data_Scientist_title
Data_Scientist['Company Name'] = Data_Scientist_company_name
Data_Scientist['Location'] = Data_Scientist_location

In [36]:
# Displaying data frame
Data_Scientist

,Title,Company Name,Location
0,Lead / Principal Data Scientist,Aviso Inc,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ..."
1,Data Scientist,Snaphunt,Bangalore/Bengaluru
2,Senior Data Scientist,Ally-Executive,Bangalore/Bengaluru
3,Senior Data Scientist,Visa,Bangalore/Bengaluru
4,Data Scientist - Credit Risk,Scienaptic Systems,Bangalore/Bengaluru
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru
6,Data Scientist 2,ANI Technologies Pvt. Ltd.,Bangalore/Bengaluru
7,Machine Learning AI Data Scientist,EKO Infomatics Solutions Private Limited,Bangalore/Bengaluru
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,Bangalore/Bengaluru
9,Senior Engineer - AIML - Data Scientist,Unisys,Bangalore/Bengaluru
10,Data Scientist /Senior Data Science Executive,Sejal Consulting Hub,"Kolkata, Mumbai, Bangalore/Bengaluru"
11,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore
12,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru
13,Cognitive Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru
14,Deputy Manager - Data Scientist,HDFC LIFE INSURANCE COMPANY LIMITED,Bangalore/Bengaluru
15,Tcs Hiring For Azure ML Data Scientist,Tata Consultancy Services Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
16,"Hiring For ""Data Scientist"" For leading Big 4 ...",LIVE CONNECTIONS PLACEMENTS PRIVATE LIMITED,"Bangalore/Bengaluru, Mumbai (All Areas)"
17,Jr. Data Analyst/ Jr. Data Scientist,Sejal Consulting Hub,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
18,Data Scientist - Marketing Analysis | Hudsons ...,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru
19,Data Science - Senior Data Scientist,Paytm,"Noida, Bangalore/Bengaluru"

In [37]:
# Selectng first 10 jobs from data frame
Data_Scientist = Data_Scientist[0:10]

# Displaying first 10 jobs from data frame
Data_Scientist

,Title,Company Name,Location
0,Lead / Principal Data Scientist,Aviso Inc,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ..."
1,Data Scientist,Snaphunt,Bangalore/Bengaluru
2,Senior Data Scientist,Ally-Executive,Bangalore/Bengaluru
3,Senior Data Scientist,Visa,Bangalore/Bengaluru
4,Data Scientist - Credit Risk,Scienaptic Systems,Bangalore/Bengaluru
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Bangalore/Bengaluru
6,Data Scientist 2,ANI Technologies Pvt. Ltd.,Bangalore/Bengaluru
7,Machine Learning AI Data Scientist,EKO Infomatics Solutions Private Limited,Bangalore/Bengaluru
8,Sr. Associate Consultant Data Scientist,Eli Lilly and Company,Bangalore/Bengaluru
9,Senior Engineer - AIML - Data Scientist,Unisys,Bangalore/Bengaluru

In [38]:
# Closing the current driver
driver.close()

### Q.3 To scrape data using the filters available on the webpage as shown below
* location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [39]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [40]:
# Open url by driver
driver.get('https://www.naukri.com/')

In [41]:
# Input first element title to be as Search 'Data Scientist' from webpage 
filter_job = driver.find_element_by_id('qsb-keyword-sugg')
filter_job.send_keys('Data Scientist')

In [42]:
# Click on search button that provide us the result based on first element
filter_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
filter_btn.click()

In [43]:
# Applying location filter
driver.find_element_by_xpath("//span[@title='Delhi / NCR']").click()

In [44]:
# Applying salary filter
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [45]:
# Creating an empty list for job-title, job-location, company_name, required experience
dsf_job_title = []
dsf_job_location = []
dsf_company_name = []
dsf_req_experience = []

In [46]:
# Scraping the title of the job
dsf_title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
dsf_title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="e2f68230-06a3-465c-8e42-1242406e5a92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="258ada95-e631-4206-807c-e81dfa235ef2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="79ff0d8d-856b-46d0-8b15-2239b1a099cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="a8ae0073-e292-4db6-93e4-84725a3d4a8f")>]

In [47]:
#Insert all job result into dsf_job_title list
for i in dsf_title_tag:
    dsf_title = i.text
    dsf_job_title.append(dsf_title)
dsf_job_title[0:4]

['Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist/ Senior Data Scientist']

In [48]:
# Scraping the location of the job
dsf_location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
dsf_location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="5484621f-bae7-47cb-b921-b3108e711e7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="f26aaeb2-ea54-49be-b9bd-705c0f9ab1fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="4fd30f48-28f3-479e-a726-5aff30d2da5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="ad997d07-3f21-4679-b5bb-46a6d7c27cd2")>]

In [49]:
#Insert all location result into dsf_job_location list
for i in dsf_location_tag:
    dsf_location = i.text
    dsf_job_location.append(dsf_location)
dsf_job_location[0:4]

['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida']

In [50]:
# Scraping the company name of job
dsf_company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
dsf_company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="ff17213a-a013-490e-8786-0974930459a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="34e87904-a2d1-4bf8-9494-e209738e207b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="d323efe8-0ee9-4b7d-89c6-db7b2f4c3b18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="4d37f681-b19a-47da-809d-efa093547d5e")>]

In [51]:
#Insert all company name result into dsf_company_name list
for i in dsf_company_tag:
    dsf_company = i.text
    dsf_company_name.append(dsf_company)
dsf_company_name[0:4]

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Newgen Software Technologies']

In [52]:
# Scrapping the experience required for job
dsf_exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
dsf_exp_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="d76584ca-b6f0-43d8-a87d-a1b4d221be79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="c2c90fff-0aaf-4652-8b9f-8a7def5a2360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="0478ae40-8edc-4da4-a726-4b82b96683c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87c2fa70af99faa5b062eee81486f748", element="6b0e0288-a739-4ebe-9892-e8bbc30c0a13")>]

In [53]:
#Insert all experience required result into dsf_req_experience list
for i in dsf_exp_tag:
    dsf_exp = i.text
    dsf_req_experience.append(dsf_exp)
dsf_req_experience[0:4]

['0-2 Yrs', '2-7 Yrs', '4-9 Yrs', '2-5 Yrs']

In [54]:
# Creating empty data frame
Data_Scientist_Filter = pd.DataFrame({})

# Adding column's into data frame
Data_Scientist_Filter['Job Title'] = dsf_job_title
Data_Scientist_Filter['Job Location'] = dsf_job_location
Data_Scientist_Filter['Company Name'] = dsf_company_name
Data_Scientist_Filter['Experience Required'] = dsf_req_experience

In [55]:
# Printing the length of each list
print(len(dsf_job_title),len(dsf_job_location),len(dsf_company_name),len(dsf_req_experience))

20 20 20 20

In [56]:
# Displaying data frame
Data_Scientist_Filter

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"Noida, Nodia",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs
4,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
5,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
6,Data Analyst / Data Scientist / Business Analy...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
7,Data Scientist,New Delhi,The Boston Consulting Group (India) Pvt Limited,2-5 Yrs
8,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
9,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
10,Data Scientist,Delhi,Sentieo,2-7 Yrs
11,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
12,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
13,Data Scientist,Delhi,Mahajan Imaging,2-6 Yrs
14,Data Scientist,Delhi,Mahajan Imaging,2-6 Yrs
15,Associate Data Scientist,Noida,Right Step Consulting,3-6 Yrs
16,Associate Data Scientist,Delhi,Blow Trumpet Solutions,1-5 Yrs
17,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
18,Data Scientist,Gurgaon/Gurugram,ApplyBoard,3-7 Yrs
19,Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Lucknow,...",AVE-Promagne,1-6 Yrs

In [57]:
# Selectng first 10 jobs from data frame
Data_Scientist_Filter = Data_Scientist_Filter[0:10]

In [58]:
# Displaying first 10 jobs from data frame
Data_Scientist_Filter

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"Noida, Nodia",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs
4,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
5,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
6,Data Analyst / Data Scientist / Business Analy...,"Noida, Ghaziabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
7,Data Scientist,New Delhi,The Boston Consulting Group (India) Pvt Limited,2-5 Yrs
8,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
9,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs

In [59]:
# Closing the current driver
driver.close()

### Q.4 Scrape data of first 100 sunglasses listings on flipkart.com.

In [90]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [91]:
# Open url by driver
driver.get("https://www.flipkart.com/")

In [92]:
#Closing the login window
close_prompt = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
close_prompt.click()

In [93]:
# Entering the product to be search as sunglasses
search_product = driver.find_element_by_name('q')
search_product.send_keys('sunglasses')

In [94]:
# Click on search button that provide us the result based on our product to be search
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [95]:
# Creating empty list for brand,description,price,discount
sunglasses_brand = []
sunglasses_product_description = []
sunglasses_price = []
sunglasses_discount = []

In [96]:
# Scraping the data for product brand
sunglasses_brand_tag_1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sunglasses_brand_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="929c7f0c-0e2d-4d78-8a2d-1d37c82e82dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="eb9ae291-39bc-405c-b01b-9f15168c7c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="7e7ac792-bfc5-41db-a64d-a44bb5c06ba1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="08ded78e-886c-4ac5-8d47-6e93b3c169ce")>]

In [97]:
# Insert all product brand result into sunglasses_brand list
for i in sunglasses_brand_tag_1:
    sunglasses_brand_1 = i.text
    sunglasses_brand.append(sunglasses_brand_1)
sunglasses_brand[0:4]

['Kanishka', 'ROZZETTA CRAFT', 'SRPM', 'Elligator']

In [98]:
# Scraping the data for product description
sunglasses_product_description_tag_1 = driver.find_elements_by_xpath("//a[contains(@class,'IRpwTa')]")
sunglasses_product_description_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="b9b06eb6-cf07-4352-a56d-c3477b1ff811")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="2b68ea54-9db9-456b-94a0-8759cb8f2fca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="ad8e8821-15c7-4652-b356-89eab8880f08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="33b74e31-f845-43bc-9810-1a3989943c1b")>]

In [99]:
# Insert all product description result into sunglasses_product_description list
for i in sunglasses_product_description_tag_1:
    try:
        sunglasses_product_description_1 = i.text
        sunglasses_product_description.append(sunglasses_product_description_1)
    except Exception as e:
        sunglasses_product_description_1 = ''
        sunglasses_product_description.append(sunglasses_product_description_1)
sunglasses_product_description[0:4]

['Others Round Sunglasses (55)',
 'UV Protection, Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)']

In [100]:
# Scraping the data for product price
sunglasses_price_tag_1 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
sunglasses_price_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="e685411c-f46f-4825-b532-03c9228b4666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="1c893bc6-8c02-4b7b-a2dd-dfa485990a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="48e64c17-a90b-4fd9-a762-1252f39b9bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="64783327-21d8-4c5f-8c41-ff6c74dd821f")>]

In [101]:
# Insert all product price result into sunglasses_price list
for i in sunglasses_price_tag_1:
    sunglasses_price_1 = i.text
    sunglasses_price.append(sunglasses_price_1)
sunglasses_price[0:4]

['₹151', '₹649', '₹188', '₹248']

In [102]:
# Scraping the data for product discount
sunglasses_discount_tag_1 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
sunglasses_discount_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="27d45160-b6eb-405b-88ce-20f481797dfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="e860c203-8164-4244-8bb5-4b9ffe6fdb0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="1b34b706-0be4-4d60-966e-0f49f99629f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="31d72f63-7683-4417-93e0-43902dc7e554")>]

In [103]:
# Insert all product discount result into sunglasses_discount list
for i in sunglasses_discount_tag_1:
    sunglasses_discount_1 = i.text
    sunglasses_discount.append(sunglasses_discount_1)
sunglasses_discount[0:4]

['84% off', '74% off', '85% off', '90% off']

In [104]:
#print the length of each list
print(len(sunglasses_brand),len(sunglasses_product_description),len(sunglasses_price),len(sunglasses_discount))

40 40 40 40

In [105]:
# Clicking on next button to go to next page
next_2 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
next_2.click()

In [106]:
# Scraping the data for product brand
sunglasses_brand_tag_2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sunglasses_brand_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="1c4fb6ab-a89a-4668-8acb-bc70bf19a6e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="2bc151dd-3888-49e2-80c4-673f317f9a9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="5c284a44-1f4b-4855-8d9b-2a10ac7f62fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="910759d4-33cd-4fd6-b581-3f7dc67148dc")>]

In [107]:
# Insert all product brand result into sunglasses_brand list
for i in sunglasses_brand_tag_2:
    sunglasses_brand_2 = i.text
    sunglasses_brand.append(sunglasses_brand_2)
sunglasses_brand

['Kanishka',
 'ROZZETTA CRAFT',
 'SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROADWAY',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'RMKK',
 'Fastrack',
 'PHENOMENAL',
 'New Specs',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Rich Club',
 'RMKK',
 'ROYAL SON',
 'SUNBEE',
 'hipe',
 'ROADWAY',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Singco India',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'SUNBEE',
 'ROYAL SON',
 'agera',
 'Rich Club',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'ROYAL SON',
 'PHENOMENAL',
 'SUNBEE',
 'ROYAL SON',
 'DEIXELS',
 'Rich Club',
 'ROYAL SON',
 'PHENOMENAL',
 'Poland',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'AISLIN',
 'hipe',
 'kingsunglasses',
 'kingsunglasses',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'Fastrack',
 'Elligator',
 'kingsunglasses',
 'kingsunglasses']

In [108]:
# Scraping the data for product description
sunglasses_product_description_tag_2 = driver.find_elements_by_xpath("//a[contains(@class,'IRpwTa')]")
sunglasses_product_description_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="3900b8b8-c67e-43a8-83fe-dbca7561ae4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="53966efe-1e7b-4c75-bc94-928af7605c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="1a777483-2ac8-4c01-a427-35ef3e07dee3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="4a0082df-dcb6-43c2-962e-bee6b3fab0ae")>]

In [109]:
# Insert all product description result into sunglasses_product_description list
for i in sunglasses_product_description_tag_2:
    sunglasses_product_description_2 = i.text
    sunglasses_product_description.append(sunglasses_product_description_2)
sunglasses_product_description

['Others Round Sunglasses (55)',
 'UV Protection, Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Retro Square, Sports Sunglasses (Free Siz...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (65)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)']

In [110]:
# Scraping the data for product price
sunglasses_price_tag_2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
sunglasses_price_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="8c03d9dd-c1bc-4af9-8633-a63d1beed379")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="85d0ac41-cc4a-408d-bac1-fd87dc4c5689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="c680aa2b-309c-46c5-80f6-ead517a28301")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="c6490274-0398-4344-883b-a9177fa5fcc9")>]

In [111]:
# Insert all product price result into sunglasses_price list
for i in sunglasses_price_tag_2:
    sunglasses_price_2 = i.text
    sunglasses_price.append(sunglasses_price_2)
sunglasses_price

['₹151',
 '₹649',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹187',
 '₹189',
 '₹170',
 '₹383',
 '₹296',
 '₹179',
 '₹274',
 '₹187',
 '₹87',
 '₹699',
 '₹319',
 '₹259',
 '₹279',
 '₹181',
 '₹426',
 '₹194',
 '₹209',
 '₹474',
 '₹299',
 '₹175',
 '₹99',
 '₹359',
 '₹271',
 '₹287',
 '₹294',
 '₹164',
 '₹187',
 '₹359',
 '₹664',
 '₹349',
 '₹383',
 '₹229',
 '₹349',
 '₹299',
 '₹276',
 '₹261',
 '₹192',
 '₹360',
 '₹211',
 '₹258',
 '₹359',
 '₹196',
 '₹163',
 '₹239',
 '₹299',
 '₹359',
 '₹359',
 '₹287',
 '₹276',
 '₹664',
 '₹202',
 '₹245',
 '₹449',
 '₹209',
 '₹144',
 '₹599',
 '₹287',
 '₹359',
 '₹446',
 '₹209',
 '₹259',
 '₹299',
 '₹211',
 '₹270',
 '₹259',
 '₹169',
 '₹599',
 '₹396',
 '₹169',
 '₹639',
 '₹291',
 '₹279',
 '₹235']

In [112]:
# Scraping the data for product discount
sunglasses_discount_tag_2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
sunglasses_discount_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="f43d1f2c-cf71-43c2-aa7d-4cde41de37ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="69ec6c72-6e01-4056-aefe-dbcaf8bca907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="7965437d-507b-4d3d-9be2-2f73af59270f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="da785d55-3c51-4537-9f17-3fe5e2963dc8")>]

In [113]:
# Insert all product discount result into sunglasses_discount list
for i in sunglasses_discount_tag_2:
    sunglasses_discount_2 = i.text
    sunglasses_discount.append(sunglasses_discount_2)
sunglasses_discount

['84% off',
 '74% off',
 '85% off',
 '90% off',
 '87% off',
 '87% off',
 '88% off',
 '88% off',
 '82% off',
 '89% off',
 '80% off',
 '77% off',
 '88% off',
 '86% off',
 '84% off',
 '82% off',
 '22% off',
 '84% off',
 '81% off',
 '89% off',
 '81% off',
 '84% off',
 '87% off',
 '86% off',
 '78% off',
 '85% off',
 '64% off',
 '75% off',
 '76% off',
 '84% off',
 '84% off',
 '80% off',
 '89% off',
 '88% off',
 '86% off',
 '66% off',
 '82% off',
 '61% off',
 '67% off',
 '88% off',
 '88% off',
 '88% off',
 '83% off',
 '82% off',
 '81% off',
 '83% off',
 '80% off',
 '76% off',
 '82% off',
 '67% off',
 '88% off',
 '81% off',
 '76% off',
 '76% off',
 '85% off',
 '78% off',
 '66% off',
 '83% off',
 '69% off',
 '70% off',
 '83% off',
 '71% off',
 '25% off',
 '85% off',
 '76% off',
 '70% off',
 '79% off',
 '87% off',
 '82% off',
 '82% off',
 '84% off',
 '82% off',
 '86% off',
 '25% off',
 '82% off',
 '89% off',
 '20% off',
 '85% off',
 '83% off',
 '87% off']

In [114]:
#print the length of each list
print(len(sunglasses_brand),len(sunglasses_product_description),len(sunglasses_price),len(sunglasses_discount))

80 80 80 80

In [115]:
# Clicking on next button to go to next page
next_3 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_3.click()

In [116]:
# Scraping the data for product brand
sunglasses_brand_tag_3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sunglasses_brand_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="4b32c08b-9924-4878-81c2-d80ce3e035c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="8a1cbc9c-6bfc-4968-9db2-fd1d5d1abd65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="81b39e8f-fe86-4eab-b0db-02146254e6fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="88b6b0d4-daa7-4ac6-a0e1-eed667e06812")>]

In [117]:
# Insert all product brand result into sunglasses_brand list
for i in sunglasses_brand_tag_3:
    sunglasses_brand_3 = i.text
    sunglasses_brand.append(sunglasses_brand_3)
sunglasses_brand

['Kanishka',
 'ROZZETTA CRAFT',
 'SRPM',
 'Elligator',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROADWAY',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'RMKK',
 'Fastrack',
 'PHENOMENAL',
 'New Specs',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Rich Club',
 'RMKK',
 'ROYAL SON',
 'SUNBEE',
 'hipe',
 'ROADWAY',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Singco India',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'SUNBEE',
 'ROYAL SON',
 'agera',
 'Rich Club',
 'Elligator',
 'kingsunglasses',
 'ROYAL SON',
 'ROYAL SON',
 'PHENOMENAL',
 'SUNBEE',
 'ROYAL SON',
 'DEIXELS',
 'Rich Club',
 'ROYAL SON',
 'PHENOMENAL',
 'Poland',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'AISLIN',
 'hipe',
 'kingsunglasses',
 'kingsunglasses',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'Fastrack',
 'Elligator',
 'kingsunglasses',
 'kingsunglasses',
 'AISLIN',
 'Elligator',
 'GANSTA',
 'Rich Club',
 'hipe',
 'PIRASO',
 'New Specs',
 'GANSTA',
 'PHENOMENAL',
 'SRPM',
 'SHAAH COLLECTIONS',
 'Elligator',
 'GANSTA',
 'Singco India',
 'Elligator',
 'ROYAL SON',
 'DEIXELS',
 'Poloport',
 'ROYAL SON',
 'Fastrack',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Singco India',
 'AISLIN',
 'IDEE',
 'elegante',
 'Singco',
 'elegante',
 'ROYAL SON',
 'AISLIN',
 'AISLIN',
 'ROYAL SON',
 'IDEE',
 'ROYAL SON',
 'Badfella',
 'Fastrack',
 'GANSTA',
 'IDEE',
 'elegante',
 'SHAAH COLLECTIONS']

In [118]:
# Scraping the data for product description
sunglasses_product_description_tag_3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
sunglasses_product_description_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="283f563f-bb7b-4a8f-bb92-de64b9bb806a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="07c55cf1-11d7-4f80-b878-2ced66d05dee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="63a6c48f-e325-4df4-b366-045b50b9116f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="961d6040-3433-41c8-ae1b-2bddedbf325d")>]

In [119]:
# Insert all product description result into sunglasses_product_description list
for i in sunglasses_product_description_tag_3:
    sunglasses_product_description_3 = i.text
    sunglasses_product_description.append(sunglasses_product_description_3)
sunglasses_product_description

['Others Round Sunglasses (55)',
 'UV Protection, Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Retro Square, Sports Sunglasses (Free Siz...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (65)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Cat-eye Sunglasses (20)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (20)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)']

In [120]:
# Scraping the data for product price
sunglasses_price_tag_3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
sunglasses_price_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="9aecca18-84e1-46a8-9385-ff38f72e2f9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="9697c624-8ddd-46c4-aed5-7ee4211767c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="ac893435-f1ac-4add-8e76-bd7fe4469c0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="347638c7-01b7-44b8-889b-a330e6f07baa")>]

In [121]:
# Insert all the product price data into sunglasses_price list
for i in sunglasses_price_tag_3:
    sunglasses_price_3 = i.text
    sunglasses_price.append(sunglasses_price_3)
sunglasses_price

['₹151',
 '₹649',
 '₹188',
 '₹248',
 '₹259',
 '₹200',
 '₹187',
 '₹187',
 '₹189',
 '₹170',
 '₹383',
 '₹296',
 '₹179',
 '₹274',
 '₹187',
 '₹87',
 '₹699',
 '₹319',
 '₹259',
 '₹279',
 '₹181',
 '₹426',
 '₹194',
 '₹209',
 '₹474',
 '₹299',
 '₹175',
 '₹99',
 '₹359',
 '₹271',
 '₹287',
 '₹294',
 '₹164',
 '₹187',
 '₹359',
 '₹664',
 '₹349',
 '₹383',
 '₹229',
 '₹349',
 '₹299',
 '₹276',
 '₹261',
 '₹192',
 '₹360',
 '₹211',
 '₹258',
 '₹359',
 '₹196',
 '₹163',
 '₹239',
 '₹299',
 '₹359',
 '₹359',
 '₹287',
 '₹276',
 '₹664',
 '₹202',
 '₹245',
 '₹449',
 '₹209',
 '₹144',
 '₹599',
 '₹287',
 '₹359',
 '₹446',
 '₹209',
 '₹259',
 '₹299',
 '₹211',
 '₹270',
 '₹259',
 '₹169',
 '₹599',
 '₹396',
 '₹169',
 '₹639',
 '₹291',
 '₹279',
 '₹235',
 '₹446',
 '₹276',
 '₹269',
 '₹284',
 '₹189',
 '₹187',
 '₹188',
 '₹209',
 '₹299',
 '₹199',
 '₹276',
 '₹265',
 '₹196',
 '₹201',
 '₹318',
 '₹699',
 '₹224',
 '₹224',
 '₹359',
 '₹639',
 '₹233',
 '₹319',
 '₹279',
 '₹459',
 '₹1,089',
 '₹399',
 '₹498',
 '₹389',
 '₹664',
 '₹924',
 '₹845',
 '₹664',
 '₹1,019',
 '₹359',
 '₹207',
 '₹649',
 '₹296',
 '₹1,099',
 '₹449',
 '₹276']

In [122]:
# Scraping the data for product discount
sunglasses_discount_tag_3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
sunglasses_discount_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="fd2e58c3-3f6f-4164-9c56-3c7a150eac61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="71d2bbc3-3e52-432f-930b-7c4756633cdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="436c0d20-3df8-4153-9ade-c97be73ffa04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f7bedd1f377d6809ee60c818cbb0ceaa", element="3c7e0335-42a2-4aec-814d-23de1f0c06f1")>]

In [123]:
# Insert all the product discount result into  sunglasses_discount list
for i in sunglasses_discount_tag_3:
    sunglasses_discount_3 = i.text
    sunglasses_discount.append(sunglasses_discount_3)
sunglasses_discount

['84% off',
 '74% off',
 '85% off',
 '90% off',
 '87% off',
 '87% off',
 '88% off',
 '88% off',
 '82% off',
 '89% off',
 '80% off',
 '77% off',
 '88% off',
 '86% off',
 '84% off',
 '82% off',
 '22% off',
 '84% off',
 '81% off',
 '89% off',
 '81% off',
 '84% off',
 '87% off',
 '86% off',
 '78% off',
 '85% off',
 '64% off',
 '75% off',
 '76% off',
 '84% off',
 '84% off',
 '80% off',
 '89% off',
 '88% off',
 '86% off',
 '66% off',
 '82% off',
 '61% off',
 '67% off',
 '88% off',
 '88% off',
 '88% off',
 '83% off',
 '82% off',
 '81% off',
 '83% off',
 '80% off',
 '76% off',
 '82% off',
 '67% off',
 '88% off',
 '81% off',
 '76% off',
 '76% off',
 '85% off',
 '78% off',
 '66% off',
 '83% off',
 '69% off',
 '70% off',
 '83% off',
 '71% off',
 '25% off',
 '85% off',
 '76% off',
 '70% off',
 '79% off',
 '87% off',
 '82% off',
 '82% off',
 '84% off',
 '82% off',
 '86% off',
 '25% off',
 '82% off',
 '89% off',
 '20% off',
 '85% off',
 '83% off',
 '87% off',
 '70% off',
 '81% off',
 '86% off',
 '64% off',
 '85% off',
 '88% off',
 '87% off',
 '88% off',
 '85% off',
 '80% off',
 '83% off',
 '79% off',
 '80% off',
 '86% off',
 '78% off',
 '65% off',
 '62% off',
 '88% off',
 '76% off',
 '20% off',
 '84% off',
 '78% off',
 '86% off',
 '69% off',
 '51% off',
 '80% off',
 '75% off',
 '74% off',
 '66% off',
 '75% off',
 '77% off',
 '66% off',
 '50% off',
 '76% off',
 '79% off',
 '27% off',
 '85% off',
 '51% off',
 '80% off',
 '83% off']

In [124]:
#print the length of each list
print(len(sunglasses_brand),len(sunglasses_product_description),len(sunglasses_price),len(sunglasses_discount))

120 120 120 120

In [125]:
# Creating empty data frame
sunglasses = pd.DataFrame({})

# Adding column's into data frame
sunglasses['Brand'] = sunglasses_brand
sunglasses['Product Description'] = sunglasses_product_description
sunglasses['Price'] = sunglasses_price
sunglasses['Discount'] = sunglasses_discount

In [126]:
# Displaying data frame
sunglasses

,Brand,Product Description,Price,Discount
0,Kanishka,Others Round Sunglasses (55),₹151,84% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Aviator Sunglasses (Fr...",₹649,74% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,87% off
...,...,...,...,...
115,Fastrack,UV Protection Wayfarer Sunglasses (54),₹649,27% off
116,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹296,85% off
117,IDEE,UV Protection Cat-eye Sunglasses (20),"₹1,099",51% off
118,elegante,Polarized Retro Square Sunglasses (Free Size),₹449,80% off
119,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹276,83% off

In [127]:
# Selectng first 100 product from data frame
sunglasses = sunglasses[0:100]

## Displaying first 100 product from data frame
sunglasses

,Brand,Product Description,Price,Discount
0,Kanishka,Others Round Sunglasses (55),₹151,84% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Aviator Sunglasses (Fr...",₹649,74% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,87% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹699,65% off
96,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹224,62% off
97,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹224,88% off
98,ROYAL SON,UV Protection Round Sunglasses (50),₹359,76% off
99,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off

In [128]:
# Ckosing the current driver
driver.close()

### Q.5 Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [129]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [130]:
# Open url by web driver
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [131]:
# Creating empty list
iphone_11_rating = []
iphone_11_review_summary = []
iphone_11_full_summary = []

In [132]:
# Clicking on all review option to see all review
iphone_11_full_rating_tag = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span[1]")
iphone_11_full_rating_tag.click()

In [133]:
# Scraping data for rating
iphone_11_rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
iphone_11_rating_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="66abbb95-c4c1-4a01-8160-dac7b0c00e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="d336627d-93e8-42e3-87ff-5a160164a0ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="614992f8-a332-4925-879e-14c56bdbf99a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="9589c4ba-7887-406d-a372-1cb95aff1aa6")>]

In [134]:
# Insert all rating data into list
for i in iphone_11_rating_tag:
    iphone_11_rating_no = i.text
    iphone_11_rating.append(iphone_11_rating_no)
iphone_11_rating[0:4]

['5', '5', '5', '5']

In [135]:
# Scraping data for review summary
iphone_11_review_summary_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
iphone_11_review_summary_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="91d0aa0a-a6f5-4d1a-92a5-ded9764cc2a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="719a3628-48d1-4595-975a-d96dcefa722e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="f1065c2e-7427-4023-b2f1-c5204875e682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="4d5adda1-2a34-4c0d-b014-1345298d91d8")>]

In [136]:
# Insert all review summary data into list
for i in iphone_11_review_summary_tag:
    iphone_11_review_summary_ = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_)
iphone_11_review_summary[0:4]

['Brilliant', 'Simply awesome', 'Best in the market!', 'Perfect product!']

In [137]:
# Scraping data for full summary
iphone_11_full_summary_des = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")
iphone_11_full_summary_des[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="bcd230c0-4e2e-403b-a375-fa71a2e26f22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="be53dbdd-514f-40dc-b004-9cd2ad026c14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="787d4a35-5a4b-4a5c-8351-250fa879a0d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="cf0dd94a-7d54-46a2-bd81-13184ee1c925")>]

In [138]:
# Insert all full summary data into list
for i in iphone_11_full_summary_des:
    iphone_11_full_summary_ = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_)
iphone_11_full_summary[0:4]

['The Best Phone for the Money  The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.  Compelling ultra-wide camera New Night mode is excellent Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic...',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [139]:
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

10 10 10

In [140]:
# Clicking the next option to go on next page
next_2 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
next_2.click()

In [141]:
# Scraping data for rating
iphone_11_rating_tag_2 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
iphone_11_rating_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="18e4ea73-8b3b-4a10-952a-09bd5a89b758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="a1222004-e7dc-4b0a-8f06-3fddffa3b643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="5f4ee66c-c973-4bbd-b0d8-17f46ffe925b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="577c67e6-914e-4990-8995-ffbd1563cef3")>]

In [142]:
# Insert all rating data into list
for i in iphone_11_rating_tag_2:
    iphone_11_rating_no_2 = i.text
    iphone_11_rating.append(iphone_11_rating_no_2)
iphone_11_rating[0:4]

['5', '5', '5', '5']

In [143]:
# Scraping data for review summary
iphone_11_review_summary_tag_2 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
iphone_11_review_summary_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="c112ea2d-7f9b-4087-a017-28d841f0106f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="f699879e-a977-4a7f-ab38-4bf8c4f46e84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="346651c2-3f62-4e85-b569-b25565a17798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="e2ec6805-8774-49a5-ad53-7291bee2e0f3")>]

In [144]:
# Insert all review summary data into list
for i in iphone_11_review_summary_tag_2:
    iphone_11_review_summary_2 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_2)
iphone_11_review_summary[0:4]

['Brilliant', 'Simply awesome', 'Best in the market!', 'Perfect product!']

In [145]:
# Scraping data for full summary
iphone_11_full_summary_des_2 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")
iphone_11_full_summary_des_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="789d2f12-8780-4537-a3f2-3931941d9067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="cc0ec0e9-dee9-4f60-a8f5-fc99b90115f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="6c5724d8-feed-4356-ae77-721e9172c90d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="52537848bb1ce2475c473db966ce9580", element="37da3639-c848-42be-a4b0-68cc5f9d8f73")>]

In [146]:
# Insert all full summary data into list
for i in iphone_11_full_summary_des_2:
    iphone_11_full_summary_2 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_2)
iphone_11_full_summary[0:4]

['The Best Phone for the Money  The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.  Compelling ultra-wide camera New Night mode is excellent Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic...',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [147]:
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

20 20 20

In [148]:
# Clicking the next option to go on next page
next_3 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_3.click()

In [149]:
# Scraping data for rating
iphone_11_rating_tag_3 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")


# Insert all rating data into list
for i in iphone_11_rating_tag_3:
    iphone_11_rating_no_3 = i.text
    iphone_11_rating.append(iphone_11_rating_no_3)
    
# Scraping data for review summary
iphone_11_review_summary_tag_3 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_3:
    iphone_11_review_summary_3 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_3)
    
# Scraping data for full summary
iphone_11_full_summary_des_3 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_3:
    iphone_11_full_summary_3 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_3)

# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

30 30 30

In [150]:
# Clicking the next option to go on next page
next_4 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_4.click()

In [151]:
# Scraping data for rating
iphone_11_rating_tag_4 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_4:
    iphone_11_rating_no_4 = i.text
    iphone_11_rating.append(iphone_11_rating_no_4)
    
# Scraping data for review summary    
iphone_11_review_summary_tag_4 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_4:
    iphone_11_review_summary_4 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_4)

# Scraping data for full summary
iphone_11_full_summary_des_4 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_4:
    iphone_11_full_summary_4 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_4)

# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

40 40 40

In [152]:
# Clicking the next option to go on next page
next_5 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_5.click()

In [153]:
# Scraping data for rating
iphone_11_rating_tag_5 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_5:
    iphone_11_rating_no_5 = i.text
    iphone_11_rating.append(iphone_11_rating_no_5)
    
# Scraping data for review summary
iphone_11_review_summary_tag_5 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_5:
    iphone_11_review_summary_5 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_5)
    
# Scraping data for full summary
iphone_11_full_summary_des_5 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_5:
    iphone_11_full_summary_5 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_5)

# Print the length of each list    
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

50 50 50

In [154]:
# Clicking the next option to go on next page
next_6 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_6.click()

In [155]:
# Scraping data for rating
iphone_11_rating_tag_6 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_6:
    iphone_11_rating_no_6 = i.text
    iphone_11_rating.append(iphone_11_rating_no_6)
    
# Scraping data for review summary
iphone_11_review_summary_tag_6 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_6:
    iphone_11_review_summary_6 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_6)
    
# Scraping data for full summary
iphone_11_full_summary_des_6 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_6:
    iphone_11_full_summary_6 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_6)
    
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

60 60 60

In [157]:
# Clicking the next option to go on next page
next_7 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_7.click()

In [158]:
# Scraping data for rating
iphone_11_rating_tag_7 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_7:
    iphone_11_rating_no_7 = i.text
    iphone_11_rating.append(iphone_11_rating_no_7)
    
# Scraping data for review summary
iphone_11_review_summary_tag_7 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_7:
    iphone_11_review_summary_7 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_7)
    
# Scraping data for full summary
iphone_11_full_summary_des_7 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_7:
    iphone_11_full_summary_7 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_7)
    
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

70 70 70

In [159]:
# Clicking the next option to go on next page
next_8 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_8.click()

In [160]:
# Scraping data for rating
iphone_11_rating_tag_8 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_8:
    iphone_11_rating_no_8 = i.text
    iphone_11_rating.append(iphone_11_rating_no_8)
    
# Scraping data for review summary
iphone_11_review_summary_tag_8 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_8:
    iphone_11_review_summary_8 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_8)
    
# Scraping data for full summary
iphone_11_full_summary_des_8 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_8:
    iphone_11_full_summary_8 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_8)
    
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

80 80 80

In [161]:
# Clicking the next option to go on next page
next_9 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_9.click()

In [162]:
# Scraping data for rating
iphone_11_rating_tag_9 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_9:
    iphone_11_rating_no_9 = i.text
    iphone_11_rating.append(iphone_11_rating_no_9)
    
# Scraping data for review summary
iphone_11_review_summary_tag_9 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_9:
    iphone_11_review_summary_9 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_9)
    
# Scraping data for full summary
iphone_11_full_summary_des_9 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_9:
    iphone_11_full_summary_9 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_9)
    
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

90 90 90

In [163]:
# Clicking the next option to go on next page
next_10 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_10.click()

In [164]:
# Scraping data for rating
iphone_11_rating_tag_10 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")

# Insert all rating data into list
for i in iphone_11_rating_tag_10:
    iphone_11_rating_no_10 = i.text
    iphone_11_rating.append(iphone_11_rating_no_10)
    
# Scraping data for review summary
iphone_11_review_summary_tag_10 = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

# Insert all review summary data into list
for i in iphone_11_review_summary_tag_10:
    iphone_11_review_summary_10 = i.text
    iphone_11_review_summary.append(iphone_11_review_summary_10)

# Scraping data for full summary
iphone_11_full_summary_des_10 = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div[1]/div[1]")

# Insert all full summary data into list
for i in iphone_11_full_summary_des_10:
    iphone_11_full_summary_10 = i.text.replace('\n',' ')
    iphone_11_full_summary.append(iphone_11_full_summary_10)
    
# Print the length of each list
print(len(iphone_11_rating),len(iphone_11_review_summary),len(iphone_11_full_summary))

100 100 100

In [165]:
# Creating empty data frame
iphone_summary = pd.DataFrame({})

# Adding column's into data frame
iphone_summary['Rating'] = iphone_11_rating
iphone_summary['Review Summary'] = iphone_11_review_summary
iphone_summary['Full Summary'] = iphone_11_full_summary

In [166]:
iphone_summary

,Rating,Review Summary,Full Summary
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,5,Awesome,The phone is completely good As far as camera ...
97,3,Decent product,Everything u ll like it when u use this iPhone...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,3,Does the job,phone is good but in display is 720p lcd in th...

In [167]:
# Close the current driver
driver.close()

### Q.6 Scrape data for first 100 sneakers from visit flipkart.com

In [9]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [10]:
# Open url by web driver
driver.get('https://www.flipkart.com/')

In [11]:
# Close the login prompt
close_prompt = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
close_prompt.click()

In [12]:
# Entering the 'sneakers' in search option 
search_sneakers = driver.find_element_by_xpath("//input[@name='q']")
search_sneakers.send_keys('sneakers')

In [13]:
# Clicking the search button that provide result based on product to be search
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [14]:
# Creating the empty list
sneakers_brand = []
sneakers_product_description = []
sneakers_price = []
sneakers_discount = []

In [15]:
# Scraping data for brand
sneakers_brand_tag_1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sneakers_brand_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="ffbbf469-1917-400a-bf11-b10dc8c9a13c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="14c81e6c-7111-45f7-937e-205e3a9da2bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="c78bd777-5457-4ebf-9443-0050711f7a9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="6ddb0c1c-e77f-481e-a9b0-58643c7cd318")>]

In [16]:
# Insert all brand data into list
for i in sneakers_brand_tag_1:
    sneakers_brand_1 = i.text
    sneakers_brand.append(sneakers_brand_1)
sneakers_brand[0:4]

['PUMA', 'LEE COOPER', 'URBANBOX', 'BRUTON']

In [17]:
# Scraping data for description
sneakers_product_description_tag_1 = driver.find_elements_by_xpath("//a[@class='IRpwTa'or @class='IRpwTa _2-ICcC']")
sneakers_product_description_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="d520617d-01ff-4022-8a71-d23709360749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="73f9d061-03c3-4636-b43f-470bafe7928b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="f32623d6-d3ec-45a8-a9f2-73ff7ce68e39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="0d900e30-eea8-432b-8985-19ecad694b21")>]

In [18]:
# Insert all description data into list
for i in sneakers_product_description_tag_1:
    sneakers_product_description_1 = i.text
    sneakers_product_description.append(sneakers_product_description_1)
sneakers_product_description[0:4]

['Puma Smash v2 Buck Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men']

In [19]:
# Scraping data for price
sneakers_price_tag_1 = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3' or @class='_3utEwz']")
sneakers_price_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="d35c9419-a64d-460b-aa17-a2085446fbce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="9b6665a4-2985-415f-b33f-218232a59882")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="703fbfa1-f0f0-4eef-b667-7cfc54eeb4e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="15d8812f-fea6-4b7b-97f0-380aac83d586")>]

In [20]:
# Insert all price data into list
for i in sneakers_price_tag_1:
    sneakers_price_1 = i.text
    sneakers_price.append(sneakers_price_1)
sneakers_price[0:4]

['₹1,749', '₹1,374', '₹247', '₹299']

In [21]:
# Scraping data for discount
sneakers_discount_tag_1 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
sneakers_discount_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="7ba8f742-93e1-4412-828e-f074f5b1d9df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="3c18fb3d-0b2d-4451-9464-742994d2bbf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="15eb96e3-65da-4c97-9d7f-86118e5f2ff1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="31180976-de02-42c3-adeb-10ece82a0bec")>]

In [22]:
# Insert all discount data into list
try:
    for i in sneakers_discount_tag_1:
        sneakers_discount_1 = i.text
        sneakers_discount.append(sneakers_discount_1)
except:
    sneakers_discount.append('-')
sneakers_discount[0:4]

['50% off', '45% off', '75% off', '76% off']

In [23]:
# Printing length of each list
print(len(sneakers_brand),len(sneakers_product_description),len(sneakers_price),len(sneakers_discount))

40 40 40 40

In [24]:
# Clicking the next option to go on next page
next_1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_1.click()

In [25]:
# Scraping data for brand
sneakers_brand_tag_2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sneakers_brand_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="f0cdbec7-2b72-43a7-9037-3485cf3d658f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="91c9c7b5-ecfb-4233-a671-f6e993d717aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="f2d8059a-bf13-4e74-b9c8-08b125e38c03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="b5d58b95-7254-4a6b-afac-955868880afd")>]

In [26]:
# Insert all brand data into list
for i in sneakers_brand_tag_2:
    sneakers_brand_2 = i.text
    sneakers_brand.append(sneakers_brand_2)
sneakers_brand[0:4]

['PUMA', 'LEE COOPER', 'URBANBOX', 'BRUTON']

In [27]:
# Scraping data for description
sneakers_product_description_tag_2 = driver.find_elements_by_xpath("//a[@class='IRpwTa'or @class='IRpwTa _2-ICcC']")
sneakers_product_description_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="eaea78ae-bb77-4cd4-8bae-191a0e0a5236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="8534b6e3-1a26-44e6-bac0-51308bd1faf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="2820da68-8a86-42d2-913b-4702aafa34bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="b1f1b194-a5ce-479b-8528-0facb722c64e")>]

In [28]:
# Insert all description data into list
for i in sneakers_product_description_tag_2:
    sneakers_product_description_2 = i.text
    sneakers_product_description.append(sneakers_product_description_2)
sneakers_product_description[0:4]

['Puma Smash v2 Buck Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men']

In [29]:
# Scraping data for price
sneakers_price_tag_2 = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3' or @class='_3utEwz']")
sneakers_price_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="53195ed3-60c7-49d8-b64b-c303802b2f04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="70936865-c7cd-4b14-86c6-8101a4099c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="2df30483-8434-4837-b29d-d7c889e7f748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="c2b4aecb-58fb-4f93-9719-301a02a5524b")>]

In [30]:
# Insert all price data into list
for i in sneakers_price_tag_2:
    sneakers_price_2 = i.text
    sneakers_price.append(sneakers_price_2)
sneakers_price[0:4]

['₹1,749', '₹1,374', '₹247', '₹299']

In [31]:
# Scraping data for discount
sneakers_discount_tag_2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
sneakers_discount_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="06a8a4de-8bf8-47f1-aafa-4e1b72c37d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="39996896-d279-46a6-9c4a-0f0f6905fb41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="c1e578ea-8379-46b0-8320-b84a3ab82b8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="aff97cca-8e47-4396-8bf2-a7e85d205910")>]

In [32]:
# Insert all discount data into list
try:
    for i in sneakers_discount_tag_2:
        sneakers_discount_2 = i.text
        sneakers_discount.append(sneakers_discount_2)
except:
    sneakers_discount.append('-')
sneakers_discount[0:4]

['50% off', '45% off', '75% off', '76% off']

In [33]:
# Print the length of each list
print(len(sneakers_brand),len(sneakers_product_description),len(sneakers_price),len(sneakers_discount))

80 80 80 80

In [34]:
# Clicking the next option to go on next page
next_1 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_1.click()

In [35]:
# Scraping data for brand
sneakers_brand_tag_3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sneakers_brand_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="93e9d2c9-9483-487c-a533-4a89e0526ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="c373e4b4-a1f6-4453-85e6-533ab037e25f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="f6f8c923-1fe3-4935-988f-80799ba59805")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="946f80df-dc9d-4bc8-aae5-bce149adafbb")>]

In [36]:
# Insert all brand data into list
for i in sneakers_brand_tag_3:
    sneakers_brand_3 = i.text
    sneakers_brand.append(sneakers_brand_3)
sneakers_brand[0:4]

['PUMA', 'LEE COOPER', 'URBANBOX', 'BRUTON']

In [37]:
# Scraping data for description
sneakers_product_description_tag_3 = driver.find_elements_by_xpath("//a[@class='IRpwTa'or @class='IRpwTa _2-ICcC']")
sneakers_product_description_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="15cee42f-6e36-4bd1-a24f-345b1be3d7d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="1d41c30d-60f3-4d62-88f6-2d12e4194089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="56f4d647-8587-468d-a5cb-a5029e87bbae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="51e3af41-a2f7-42b1-90bd-afd759674728")>]

In [38]:
# Insert all description data into list
for i in sneakers_product_description_tag_3:
    sneakers_product_description_3 = i.text
    sneakers_product_description.append(sneakers_product_description_3)
sneakers_product_description[0:4]

['Puma Smash v2 Buck Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men']

In [39]:
# Scraping data for price
sneakers_price_tag_3 = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3' or @class='_3utEwz']")
sneakers_price_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="4a3ab13e-756e-440c-885b-535856a24f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="efe00fda-dba5-4c8c-a974-495c4f77feab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="ed86f3d8-5f79-4762-8855-8b0e3d139b3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="bf1e5ef4-9d18-4e9a-865a-799bfcf85bdd")>]

In [40]:
# Insert all price data into list
for i in sneakers_price_tag_3:
    sneakers_price_3 = i.text
    sneakers_price.append(sneakers_price_3)
sneakers_price[0:4]

['₹1,749', '₹1,374', '₹247', '₹299']

In [41]:
# Scraping data for discount
sneakers_discount_tag_3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
sneakers_discount_tag_3[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="5a4784b4-4d1e-41f0-bd0e-9988061e4c02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="c4a3d85e-2428-4088-8f8a-93353e160ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="b6bf0186-7c63-4fd4-a003-643fef64cd16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb3242a30d74216cb3f97a4cf270362f", element="11b2b56c-0a22-4559-bcea-f500969992b9")>]

In [42]:
# Insert all discount data into list
try:
    for i in sneakers_discount_tag_3:
        sneakers_discount_3 = i.text
        sneakers_discount.append(sneakers_discount_3)
except:
    sneakers_discount.append('-')
sneakers_discount[0:4]

['50% off', '45% off', '75% off', '76% off']

In [43]:
# Print the length of each list
print(len(sneakers_brand),len(sneakers_product_description),len(sneakers_price),len(sneakers_discount))

120 120 120 120

In [44]:
# Creating empty data frame
sneakers = pd.DataFrame({})

# Adding column into data frame
sneakers['Brand'] = sneakers_brand
sneakers['Description'] = sneakers_product_description
sneakers['Price'] = sneakers_price
sneakers['Discount'] = sneakers_discount

In [45]:
# Displaying the data frame
sneakers

,Brand,Description,Price,Discount
0,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹1,749",50% off
1,LEE COOPER,Sneakers For Men,"₹1,374",45% off
2,URBANBOX,Sneakers Sneakers For Men,₹247,75% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
4,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
...,...,...,...,...
115,RED TAPE,Sneakers For Men,"₹1,423",75% off
116,Kirjak,men's black sneakers lace-up trendy casual Sne...,₹479,76% off
117,Feens,Stylish & Comfortable Casual Sports Walking Sn...,₹265,46% off
118,SPARX,SM-675 Sneakers For Men,₹840,6% off
119,WROGN,Athleisure Sneakers For Men,₹799,60% off

In [46]:
# Selection top 100 result
sneakers = sneakers[0:100]

# Displaying the data frame
sneakers

,Brand,Description,Price,Discount
0,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹1,749",50% off
1,LEE COOPER,Sneakers For Men,"₹1,374",45% off
2,URBANBOX,Sneakers Sneakers For Men,₹247,75% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
4,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
...,...,...,...,...
95,PUMA,Ferrari Drift Cat Delta Sneakers For Men,"₹3,199",60% off
96,Woodage,Casual Shoes Slip On Sneakers For Men Sneakers...,₹427,57% off
97,Chevit,Combo Pack of 5 Casual Sneakers Sneakers For Men,₹679,72% off
98,BIRDE,Sneakers For Men,₹535,46% off
99,RED CHIEF,RC3483 014 Sneakers For Men,"₹1,797",55% off

In [47]:
# Close the current driver
driver.close()

### Q.7 Scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe from https://www.myntra.com/shoes. By Set Price filter to “Rs. 7149 to Rs. 14099” , Color filter to “Black”

In [302]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [303]:
# Open url by driver
driver.get('https://www.myntra.com/shoes')

In [304]:
# Set color filter to black 
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [305]:
# Set price filter
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [306]:
# Creating empty list
myntra_shoe_brand = []
myntra_shoe_description = []
myntra_shoe_price = []

In [307]:
# Scraping data for brand
myntra_shoe_brand_tag_1 = driver.find_elements_by_xpath("//h3[@class='product-brand']")
myntra_shoe_brand_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="ec5af423-a9e5-48cf-a1d7-4f66a2400de3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="47acc9b5-0760-4280-ae3b-1306bb4570f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="a12c98ff-7fab-4872-bf10-59f6894ce308")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="014a8faa-805e-492d-8456-8915c98fe02d")>]

In [308]:
# Insert all brand data into list
for i in myntra_shoe_brand_tag_1:
    myntra_shoe_brand_1 = i.text
    myntra_shoe_brand.append(myntra_shoe_brand_1)
myntra_shoe_brand[0:4]

['ASICS', 'ADIDAS', 'Puma', 'Puma']

In [309]:
# Scraping data for description
myntra_shoe_description_tag_1 = driver.find_elements_by_xpath("//h4[@class='product-product']")
myntra_shoe_description_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="0e8ec98a-73e4-4807-8fcb-28746760758f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="90b53de5-217f-48bb-a95a-724b14cff5da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="b0c2ca01-c6a8-4391-9574-ee1cd37c5033")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="7d2ec4e1-130a-4102-a15e-f1b24ebefc0e")>]

In [310]:
# Insert all description data into list
for i in myntra_shoe_description_tag_1:
    myntra_shoe_description_1 = i.text
    myntra_shoe_description.append(myntra_shoe_description_1)
myntra_shoe_description[0:4]

['Men GEL-KAYANO 27 Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Deviate Nitro Running Shoe']

In [311]:
# Scraping data for price
myntra_shoe_price_tag_1 = driver.find_elements_by_xpath("//div[@class='product-price']")
myntra_shoe_price_tag_1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="f9a48d80-5ce2-44de-95d2-4d7f303c7732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="c9e294b6-d4ff-4ec0-8928-42f9f40f3baa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="80a0a24c-7519-444e-a03d-556c8654be77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="6506235b-b600-4f5e-bc30-7c605e08d324")>]

In [312]:
# Insert all price data into list
for i in myntra_shoe_price_tag_1:
    myntra_shoe_price_1 = i.text
    myntra_shoe_price.append(myntra_shoe_price_1)
myntra_shoe_price

['Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7599',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 8249Rs. 14999(45% OFF)',
 'Rs. 8295',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 6999',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 7999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 11900Rs. 13900(Rs. 2000 OFF)',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6293Rs. 8990(30% OFF)',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 6499',
 'Rs. 9810Rs. 10900(Rs. 1090 OFF)',
 'Rs. 6999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6499',
 'Rs. 10350Rs. 11500(Rs. 1150 OFF)',
 'Rs. 9999',
 'Rs. 9800Rs. 13900(Rs. 4100 OFF)',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 6900Rs. 8900(Rs. 2000 OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 7999',
 'Rs. 6499Rs. 9999(35% OFF)',
 'Rs. 7990',
 'Rs. 6791Rs. 7990(15% OFF)',
 'Rs. 9999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 6990']

In [313]:
# Print the length of each list
print(len(myntra_shoe_brand),len(myntra_shoe_description),len(myntra_shoe_price))

50 50 50

In [314]:
# Clicking on next button to go on next page
driver.find_element_by_xpath("//a[@rel='next']").click()

In [315]:
# Scraping data for brand
myntra_shoe_brand_tag_2 = driver.find_elements_by_xpath("//h3[@class='product-brand']")
myntra_shoe_brand_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="a384c6a6-22da-47e9-966d-2def0359e56c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="380006a5-87a5-4ebf-a6d7-6c6757dc3409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="f9d11a86-35dd-4494-8dd3-811094c82c74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="581af8a8-15ff-4c5e-963d-793dcbe7f3db")>]

In [316]:
# Insert all brand data into list
for i in myntra_shoe_brand_tag_2:
    myntra_shoe_brand_2 = i.text
    myntra_shoe_brand.append(myntra_shoe_brand_2)
myntra_shoe_brand[0:4]

['ASICS', 'ADIDAS', 'Puma', 'Puma']

In [317]:
# Scraping data for description
myntra_shoe_description_tag_2 = driver.find_elements_by_xpath("//h4[@class='product-product']")
myntra_shoe_description_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="31024179-6ffb-4dcc-ab5a-00d1ea50f68a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="5d908430-f82a-44e3-8af6-6290c0e5e162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="2f521ab2-98d3-46c9-9ff1-b68f1d20853d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="e5c218d7-f9e3-4099-b76e-dc46afd3674e")>]

In [318]:
# Insert all description data into list
for i in myntra_shoe_description_tag_2:
    myntra_shoe_description_2 = i.text
    myntra_shoe_description.append(myntra_shoe_description_2)
myntra_shoe_description[0:4]

['Men GEL-KAYANO 27 Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Deviate Nitro Running Shoe']

In [319]:
# Scraping data for price
myntra_shoe_price_tag_2 = driver.find_elements_by_xpath("//div[@class='product-price']")
myntra_shoe_price_tag_2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="89afd8e0-3d9c-4139-a3d1-60b2c7b03fd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="207d5862-83b7-424b-a061-1138785b25bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="e02dea51-e659-4780-a74e-b8f01843d7bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f8a0faee325a2efef69d0f272e7d183", element="44cdf4fa-5d78-457e-ba90-15be9e286682")>]

In [320]:
# Insert all price data into list
for i in myntra_shoe_price_tag_2:
    myntra_shoe_price_2 = i.text
    myntra_shoe_price.append(myntra_shoe_price_2)
myntra_shoe_price

['Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7599',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 8249Rs. 14999(45% OFF)',
 'Rs. 8295',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 6999',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 7999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 11900Rs. 13900(Rs. 2000 OFF)',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6293Rs. 8990(30% OFF)',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 6499Rs. 12999(50% OFF)',
 'Rs. 6499',
 'Rs. 9810Rs. 10900(Rs. 1090 OFF)',
 'Rs. 6999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 6499',
 'Rs. 10350Rs. 11500(Rs. 1150 OFF)',
 'Rs. 9999',
 'Rs. 9800Rs. 13900(Rs. 4100 OFF)',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 6900Rs. 8900(Rs. 2000 OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 7999',
 'Rs. 6499Rs. 9999(35% OFF)',
 'Rs. 7990',
 'Rs. 6791Rs. 7990(15% OFF)',
 'Rs. 9999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 6990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 7499',
 'Rs. 6490',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 6599',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 6999',
 'Rs. 6599',
 'Rs. 7699',
 'Rs. 9999',
 'Rs. 6299Rs. 6999(10% OFF)',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8490',
 'Rs. 11490',
 'Rs. 6995',
 'Rs. 8999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 7990']

In [321]:
# Print the length of each list
print(len(myntra_shoe_brand),len(myntra_shoe_description),len(myntra_shoe_price))

100 100 100

In [322]:
# Creating empty data frame
myntra_shoe = pd.DataFrame({})

# Adding column into data frame
myntra_shoe['Brand'] = myntra_shoe_brand
myntra_shoe['Description'] = myntra_shoe_description
myntra_shoe['Price'] = myntra_shoe_price

In [323]:
# Displaying the data frame
myntra_shoe

,Brand,Description,Price
0,ASICS,Men GEL-KAYANO 27 Shoes,Rs. 10499Rs. 14999(30% OFF)
1,ADIDAS,Women Running Shoes,Rs. 7599
2,Puma,Men Running Shoes,Rs. 6499Rs. 12999(50% OFF)
3,Puma,Men Deviate Nitro Running Shoe,Rs. 8249Rs. 14999(45% OFF)
4,Nike,Men Waffle One SE Sneakers,Rs. 8295
...,...,...,...
95,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
96,ASICS,Men Black Running Shoes,Rs. 8999Rs. 9999(10% OFF)
97,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 8990
98,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
99,DAVINCHI,Men Textured Formal Leather Oxfords,Rs. 7990

In [324]:
# Removing extra value from 'Price' column except price of product
myntra_shoe['Price'] = myntra_shoe['Price'].str.partition(' ')[2].str.partition('R')[0]

# Displaying final data frame
myntra_shoe

        Brand                          Description  Price
0       ASICS              Men GEL-KAYANO 27 Shoes  10499
1      ADIDAS                  Women Running Shoes   7599
2        Puma                    Men Running Shoes   6499
3        Puma       Men Deviate Nitro Running Shoe   8249
4        Nike           Men Waffle One SE Sneakers   8295
..        ...                                  ...    ...
95  J.FONTINI  Men Textured Leather Formal Loafers   8990
96      ASICS              Men Black Running Shoes   8999
97   DAVINCHI      Men Solid Leather Formal Derbys   8990
98   DAVINCHI  Men Textured Formal Leather Loafers   8990
99   DAVINCHI  Men Textured Formal Leather Oxfords   7990

[100 rows x 3 columns]

In [325]:
# Closing the current driver
driver.close()

### Q.8 Scrape first 10 laptops data from https://www.amazon.in/. By set CPU Type filter to “Intel Core i7” and “Intel Core i9”.scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

### Part (1) for Intel Core i7

In [73]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [74]:
# Open url by web driver
driver.get('https://www.amazon.in/')

In [75]:
# Entering 'laptop' as an product to be searched in search field
amazon_search_button = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
amazon_search_button.send_keys('laptop')

In [76]:
# Clicking the search icon
amazon_search = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
amazon_search.click()

In [77]:
# Setting filter 'Intel Core i7'
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span[1]/a[1]/div[1]/label[1]/i[1]").click()

In [78]:
# Creating empty list
laptop_title = []
laptop_price = []
laptop_rating = []

In [79]:
amazon_url = []
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    amazon_url.append(i.get_attribute("href"))

In [80]:
print(len(amazon_url))

30

In [81]:
for i in amazon_url:
    driver.get(i)
    time.sleep(2)
    
  # Scraping the data for title
    try:
        am_title = driver.find_element_by_xpath("//h1[@id='title']/span")
        laptop_title.append(am_title.text)
    except:
        laptop_title.append('-')
        
  # Scraping the data for price
    try:
        am_price = driver.find_element_by_xpath("//td[@class='a-span12']")
        laptop_price.append(am_price.text)
    except:
        laptop_price.append('-')
        
  # Scraping the data for rating
    try:
        rating = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        laptop_rating.append(rating.text)
    except:
        laptop_rating.append('-')

In [82]:
laptop_title

['Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inches FHD IPS 400Nits Thin and Light Business Laptop (16GB/512GB SSD/Windows 10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/0.878kg), 4ZR1D67596',
 'Mi Notebook Ultra 3.2K resolution display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint sensor/1.7Kg)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PM-HN175TS',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN',
 'Mi Notebook Pro QHD+ IPS Anti Glare Display Intel Core i7-11370H 11th Gen 14-inch(35.56 cms) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/Backlit KB/Fingerprint Sensor/1.4 Kg)',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN',
 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS',
 'Dell 14 (2021) Inspiron 5410 Intel i7-1165G7 14 inches 16Gb RAM, 512Gb SSD, FHD Display, Windows 10 + MSO, Backlit KB + FPR + Active Pen, 2in1 Touch Screen Laptop - Silver Metal, 1.5 kg, D560469WIN9S',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 '(Renewed) HP Laptop Zbook Studio Ultraslim 2.1KG Intel Core i7-6820HQ Processor , 32 GB Ram & 512 GB SSD, 15.6 Inches with Nvidia 8GB Graphics with HD Screen Computer',
 'Acer Swift 5 Intel i7 11th Gen 14 inches Ultra Thin and Light Business Laptop (16GB RAM/1TB SSD/Windows 10 Home/Iris Xe Graphics 5 Full HD IPS Display with Touchscreen, Mist Green, 1.05 kg) SF514-55TA',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inches FHD IPS 400Nits Thin and Light Business Laptop (16GB/512GB SSD/Windows 10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/0.878kg), 4ZR1D67596',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'LG Gram 16-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P-G.AH85A2, Black)',
 "Dell Inspiron G3 3500 15.6'' FHD 120Hz Display Gaming Laptop (i7-10750H /16 GB /1TB+256 SSD / NVIDIA GTX 1650 Ti 4GB Graphics /1Yr Premium Warranty /Win 10) D560256WIN9BL",
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Dell XPS 15 (2021) i7-11800H Touch Screen Laptop / 32GB / 1TB SSD/ NVIDIA RTX 3050 Ti 4GB GDDR6 / Win 10 + MSO / 15.6" UHD+ AR 500 nits / Backlit KB + FPR / Platinum Silver (XPS 9510, D560055WIN9S)',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /Graphite Grey/1.5Kg), 82HS00W4IN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Convertible Laptop(16GB/512GB SSD/Windows 11/Office 2021/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg),82BH00HWIN',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (16GB RAM/512GB SSD/Windows 10 Pro/MS Office/ Intel HD Integrated Graphics/1.18Kg,Black) Latitude E7480',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 'LG Gram 16 Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, Win-10, Iris Xe Graphics, 16-inches (40.64 cms), Thunderbolt 4, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P, Black)']

In [83]:
laptop_price

['₹89,990.00',
 '₹92,990.00',
 '₹77,999.00',
 '₹52,999.00',
 '₹84,990.00',
 '₹1,09,990.00',
 '₹97,557.00',
 '₹73,999.00',
 '₹98,999.00',
 '₹82,990.00',
 '₹1,28,990.00',
 '₹94,800.00',
 '₹72,990.00',
 '₹95,990.00',
 '₹87,799.00',
 '₹1,04,240.00',
 '₹91,990.00',
 '₹89,990.00',
 '₹92,990.00',
 '₹89,990.00',
 '₹91,999.00',
 '₹1,29,990.00',
 '₹96,990.00',
 '₹64,990.00',
 '₹2,89,999.00',
 '₹88,990.00',
 '₹99,990.00',
 '₹59,999.00',
 '₹88,990.00',
 '₹94,499.00']

In [84]:
laptop_rating

['3.6 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '4.5 out of 5',
 '4.9 out of 5',
 '4.2 out of 5',
 '4.1 out of 5',
 '4.4 out of 5',
 '4.2 out of 5',
 '4.6 out of 5',
 '-',
 '3.6 out of 5',
 '3.6 out of 5',
 '4.3 out of 5',
 '4 out of 5',
 '4.2 out of 5',
 '-',
 '4.8 out of 5',
 '-',
 '-',
 '4.1 out of 5',
 '4.1 out of 5',
 '-',
 '4.1 out of 5',
 '4.2 out of 5']

In [85]:
# Creating the data frame
laptop_i7 = pd.DataFrame({})
laptop_i7['Product_Title'] = laptop_title
laptop_i7['Product_Price'] = laptop_price
laptop_i7['Product_Rating'] = laptop_rating

In [86]:
# Displaying the data frame 
laptop_i7

,Product_Title,Product_Price,Product_Rating
0,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,"₹89,990.00",3.6 out of 5
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"₹92,990.00",4.3 out of 5
2,Mi Notebook Ultra 3.2K resolution display Inte...,"₹77,999.00",4.3 out of 5
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹52,999.00",4.2 out of 5
4,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"₹84,990.00",4.3 out of 5
5,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,"₹1,09,990.00",4.3 out of 5
6,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" Full ...","₹97,557.00",4.3 out of 5
7,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,"₹73,999.00",4.3 out of 5
8,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,"₹98,999.00",4.5 out of 5
9,Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...,"₹82,990.00",4.9 out of 5
10,"ASUS TUF Dash F15 (2021) 15.6"" (39.62 cm) FHD ...","₹1,28,990.00",4.2 out of 5
11,Dell 14 (2021) Inspiron 5410 Intel i7-1165G7 1...,"₹94,800.00",4.1 out of 5
12,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...","₹72,990.00",4.4 out of 5
13,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...","₹95,990.00",4.2 out of 5
14,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...","₹87,799.00",4.6 out of 5
15,(Renewed) HP Laptop Zbook Studio Ultraslim 2.1...,"₹1,04,240.00",-
16,Acer Swift 5 Intel i7 11th Gen 14 inches Ultra...,"₹91,990.00",3.6 out of 5
17,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,"₹89,990.00",3.6 out of 5
18,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"₹92,990.00",4.3 out of 5
19,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"₹89,990.00",4 out of 5
20,LG Gram 16-inches Ultra-Light Intel Evo 11th G...,"₹91,999.00",4.2 out of 5
21,Dell Inspiron G3 3500 15.6'' FHD 120Hz Display...,"₹1,29,990.00",-
22,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...","₹96,990.00",4.8 out of 5
23,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","₹64,990.00",-
24,Dell XPS 15 (2021) i7-11800H Touch Screen Lapt...,"₹2,89,999.00",-
25,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"₹88,990.00",4.1 out of 5
26,"Lenovo Yoga 7 11th Gen Intel Core i7 14""(35.56...","₹99,990.00",4.1 out of 5
27,(Renewed) Dell Intel Core i7 7th Gen 14.Inch(3...,"₹59,999.00",-
28,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"₹88,990.00",4.1 out of 5
29,LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...,"₹94,499.00",4.2 out of 5

In [87]:
# Selecting the data for first 10 laptop
laptop_i7 = laptop_i7[0:10]

In [88]:
# Displaying the result
laptop_i7

,Product_Title,Product_Price,Product_Rating
0,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,"₹89,990.00",3.6 out of 5
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"₹92,990.00",4.3 out of 5
2,Mi Notebook Ultra 3.2K resolution display Inte...,"₹77,999.00",4.3 out of 5
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"₹52,999.00",4.2 out of 5
4,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"₹84,990.00",4.3 out of 5
5,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,"₹1,09,990.00",4.3 out of 5
6,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" Full ...","₹97,557.00",4.3 out of 5
7,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,"₹73,999.00",4.3 out of 5
8,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,"₹98,999.00",4.5 out of 5
9,Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...,"₹82,990.00",4.9 out of 5

In [89]:
# Closing the current driver
driver.close()

### Part (2) for Intel Core i9

In [100]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [101]:
# Open url by web driver
driver.get('https://www.amazon.in/')

In [102]:
# Entering 'laptop' as an product to be searched in search field
amazon_search_button = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
amazon_search_button.send_keys('laptop')

In [103]:
# Clicking the search icon
amazon_search = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
amazon_search.click()

In [104]:
# Setting filter 'Intel Core i7'
filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [105]:
# Creating empty list
laptop_title_i9 = []
laptop_price_i9 = []
laptop_rating_i9 = []

In [108]:
amazon_url_i9 = []
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    amazon_url_i9.append(i.get_attribute("href"))

In [109]:
print(len(amazon_url_i9))

11

In [110]:
for i in amazon_url_i9:
    driver.get(i)
    time.sleep(2)
    
  # Scraping the data for title
    try:
        am_title_i9 = driver.find_element_by_xpath("//h1[@id='title']/span")
        laptop_title_i9.append(am_title_i9.text)
    except:
        laptop_title_i9.append('-')
        
  # Scraping the data for price
    try:
        am_price_i9 = driver.find_element_by_xpath("//td[@class='a-span12']")
        laptop_price_i9.append(am_price_i9.text)
    except:
        laptop_price_i9.append('-')
        
  # Scraping the data for rating
    try:
        rating_i9 = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        laptop_rating_i9.append(rating_i9.text)
    except:
        laptop_rating_i9.append('-')

In [111]:
laptop_title_i9

['ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg), G531GW-AZ113T',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell XPS 7590 39.62 cm (15.6-inch) UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'Dell XPS 17 (2021) i9-11900H Touch Screen Laptop / 32GB / 1TB SSD/ NVIDIA RTX 3060 6GB GDDR6 / Win 10 + MS Office/ 17.0" UHD+ AR 500 nits / Backlit KB + FPR / Platinum Silver (XPS 9710, D560057WIN9S)',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty']

In [112]:
laptop_price_i9

['₹5,40,946.00',
 '₹1,52,890.00',
 '-',
 '₹1,48,990.00',
 '₹2,65,999.00',
 '₹2,01,900.00',
 '₹2,25,000.00',
 '₹3,75,000.00',
 '₹2,07,990.00',
 '₹2,45,000.00',
 '₹2,39,000.00']

In [113]:
laptop_rating_i9

['3.4 out of 5',
 '4.1 out of 5',
 '5 out of 5',
 '3.8 out of 5',
 '4.4 out of 5',
 '3.8 out of 5',
 '-',
 '-',
 '4.1 out of 5',
 '-',
 '-']

In [114]:
# Creating data frame
laptop_i9 = pd.DataFrame({})
laptop_i9['Product_Title'] = laptop_title_i9
laptop_i9['Product_Price'] = laptop_price_i9
laptop_i9['Product_Rating'] = laptop_rating_i9

In [115]:
# Displaying data frame
laptop_i9

,Product_Title,Product_Price,Product_Rating
0,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","₹5,40,946.00",3.4 out of 5
1,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","₹1,52,890.00",4.1 out of 5
2,"ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz...",-,5 out of 5
3,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...","₹1,48,990.00",3.8 out of 5
4,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"₹2,65,999.00",4.4 out of 5
5,Dell XPS 7590 39.62 cm (15.6-inch) UHD Display...,"₹2,01,900.00",3.8 out of 5
6,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,"₹2,25,000.00",-
7,Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...,"₹3,75,000.00",-
8,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"₹2,07,990.00",4.1 out of 5
9,HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...,"₹2,45,000.00",-
10,Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...,"₹2,39,000.00",-

In [116]:
# Selecting first 10 data
laptop_i9 = laptop_i9[0:10]

In [117]:
# Displaying the data frame
laptop_i9

,Product_Title,Product_Price,Product_Rating
0,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","₹5,40,946.00",3.4 out of 5
1,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","₹1,52,890.00",4.1 out of 5
2,"ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz...",-,5 out of 5
3,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...","₹1,48,990.00",3.8 out of 5
4,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"₹2,65,999.00",4.4 out of 5
5,Dell XPS 7590 39.62 cm (15.6-inch) UHD Display...,"₹2,01,900.00",3.8 out of 5
6,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,"₹2,25,000.00",-
7,Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...,"₹3,75,000.00",-
8,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"₹2,07,990.00",4.1 out of 5
9,HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...,"₹2,45,000.00",-

In [118]:
# Closing the current driver
driver.close()

### Q.9 to scrape data for first 10 job results for Data Scientist Designation in Noida location from https://www.ambitionbox.com/. We have to scrap company name, No. of days ago when job was posted, Rating of the company

In [326]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [327]:
# Open url by driver
driver.get('https://www.ambitionbox.com/')

In [328]:
# Clicking on job option
driver.find_element_by_xpath("//a[@class='link jobs']").click()

In [329]:
# Entering the 'Data Scientist' in 'Search by Designations, Companies, Skills'
search_job = driver.find_element_by_name('ab_jobsSearch')
search_job.send_keys('data scientist')

In [330]:
# Clicking on search button
search_button = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_button.click()

In [331]:
# Clicking on location filter
driver.find_element_by_xpath("//div[@title='Location']").click()

In [332]:
# Searching the 'Noida' in location filter
enter_noida = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
enter_noida.send_keys('Noida')

In [333]:
# After searching selecting the 'Noida'
driver.find_element_by_xpath("//label[@for='location_Noida']").click()

In [334]:
# Creating empty list
ambitionbox_company_name = []
ambitionbox_days_when_job_was_posted = []
ambitionbox_rating = []

In [335]:
# Scraping data for company name
ambitionbox_company_name_tag = driver.find_elements_by_xpath("//p[@class='company body-medium']")
ambitionbox_company_name_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="7b5d5774-cb0b-4fc8-a157-581d004e3f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="150fae3b-7469-4b2f-ac7a-38840428b289")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="4fd06706-dee9-4c17-8c3a-eb055f3686bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="ffdf89fd-c0f7-4c15-8a5d-42eb9f46451b")>]

In [336]:
# Insert all company name data into list
for i in ambitionbox_company_name_tag:
    ambitionbox_company_name_ = i.text
    ambitionbox_company_name.append(ambitionbox_company_name_)
ambitionbox_company_name[0:4]

['LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd']

In [337]:
# Scraping data for no of days ago when job was posted
ambitionbox_days_when_job_was_posted_tag = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
ambitionbox_days_when_job_was_posted_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="f3df2dc0-791d-40e9-926d-8371461924ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="cbe41ed8-4a15-4363-a738-42421081a095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="7b8e81bd-7f49-4ef8-9f7e-bf8515fa659a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="0af68b69-a30a-4182-8f5d-8416e3727b41")>]

In [338]:
# Insert all no of days into list
for i in ambitionbox_days_when_job_was_posted_tag:
    ambitionbox_days_when_job_was_posted_ = i.text
    ambitionbox_days_when_job_was_posted.append(ambitionbox_days_when_job_was_posted_)
ambitionbox_days_when_job_was_posted[0:4]

['9d ago', '16d ago', '16d ago', '17d ago']

In [339]:
# Scraping data for company rating
ambitionbox_rating_tag = driver.find_elements_by_xpath("//span[@class='body-small']")
ambitionbox_rating_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="03b2cf70-5fcf-44e9-9394-46f73ee0afda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="9eddb62e-ece1-4d89-b721-ba91ef696c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="8b582650-f03a-44fb-9472-ab1e64ad3fea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d80c38fcc51d37e3e20ee15645b150da", element="b7fe74d2-bf5b-4a05-818d-8960489efe74")>]

In [340]:
# Insert all rating data into list
for i in ambitionbox_rating_tag:
    ambitionbox_rating_ = i.text
    ambitionbox_rating.append(ambitionbox_rating_)
ambitionbox_rating[0:4]

['4.1', '4.0', '4.0', '3.8']

In [341]:
# Print the length of each list
print(len(ambitionbox_company_name),len(ambitionbox_days_when_job_was_posted),len(ambitionbox_rating))

10 10 10

In [342]:
# Creating empty data frame
ambitionbox_9 = pd.DataFrame({})

# Adding column into data frame
ambitionbox_9['Company Name'] = ambitionbox_company_name
ambitionbox_9['No. Of Days Ago When Job Was Posted'] = ambitionbox_days_when_job_was_posted
ambitionbox_9['Rating Of The Company'] = ambitionbox_rating

In [343]:
# Displaying data frame
ambitionbox_9

,Company Name,No. Of Days Ago When Job Was Posted,Rating Of The Company
0,LG Electronics India Pvt. Ltd.,9d ago,4.1
1,GENPACT India Private Limited,16d ago,4.0
2,GENPACT India Private Limited,16d ago,4.0
3,NTT Data Business Solutions Pvt Ltd,17d ago,3.8
4,GENPACT India Private Limited,18d ago,4.0
5,Paytm,3d ago,3.7
6,GI Group,2d ago,4.0
7,GI Group,2d ago,4.0
8,GI Group,2d ago,4.0
9,Steria India Ltd,1mon ago,4.1

In [344]:
# Close the current driver
driver.close()

### Q.10 scrape the salary data for Data Scientist designation from https://www.ambitionbox.com/. We have to scrap Company name, Number of salaries, Average salary, Min salary, Max Salary

In [14]:
# Connecting with web driver
driver = webdriver.Chrome(r'E:/DATA TRAINED/Sofrware/chromedriver_win32/chromedriver.exe')

In [15]:
# Open url by driver
driver.get('https://www.ambitionbox.com/')

In [16]:
# Clicking the salary option
driver.find_element_by_xpath("//a[@class='link salaries']").click()

In [17]:
# Entering the 'Data Scientist' in 'Search Job Profile'
search_job = driver.find_element_by_id('jobProfileSearchbox')
search_job.send_keys('Data Scientist')

In [18]:
# After entering clicking on 'Data Scientist'
driver.find_element_by_xpath("//p[@class='tt_text']").click()

In [19]:
# Creating empty list
ambitionbox_salary_company_name = []
ambitionbox_salary_record = []
ambitionbox_salary_avg = []
ambitionbox_salary_max = []
ambitionbox_salary_min = []

In [20]:
# Scraping data for company name
ambitionbox_salary_company_name_tag = driver.find_elements_by_xpath("//div[@class='name']/a[1]")
ambitionbox_salary_company_name_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="86d71d86-2348-40b6-b497-dac586d42a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="3003cedc-b09a-44df-af88-b09bc10cd208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="8a1d0347-cd02-420d-bd2a-caa4a5c1506b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="a209ba36-5889-46ed-9b3c-c66b589dc17e")>]

In [21]:
# Insert all company name data into list
for i in ambitionbox_salary_company_name_tag:
    ambitionbox_salary_company_name_ = i.text
    ambitionbox_salary_company_name.append(ambitionbox_salary_company_name_)
ambitionbox_salary_company_name[0:4]

['Ab Inbev', 'ZS', 'Optum', 'Fractal Analytics']

In [22]:
# Scraping data for total salary record
ambitionbox_salary_record_tag = driver.find_elements_by_xpath("//div[@class='name']/span[1]")
ambitionbox_salary_record_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="88ad263c-d557-4681-805a-37a7f456ecf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="5105a852-988f-4f1c-9e69-ead42bac22bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="a6d08f8f-664c-4e44-8190-a9e33d7a15cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="0414593d-1cce-4867-b54b-fcaa909924f7")>]

In [23]:
# Insert all total salary record into list
for i in ambitionbox_salary_record_tag:
    ambitionbox_salary_record_ = i.text
    ambitionbox_salary_record.append(ambitionbox_salary_record_)
ambitionbox_salary_record[0:4]

['based on 20 salaries',
 'based on 12 salaries',
 'based on 23 salaries',
 'based on 66 salaries']

In [24]:
# Creating empty list for required experience
ambitionbox_salary_experience_required = []

In [25]:
# Scraping data for required experience
ambitionbox_salary_experience_required_tag = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
ambitionbox_salary_experience_required_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="b239b08e-3ed3-426f-b055-e47e3751fa5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="7828b3e8-4839-4a48-9e45-617251278285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="b1ced3e0-74e6-499e-953a-4e8cd875181b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="c65ac3a1-222a-4340-9045-af51051e6926")>]

In [26]:
# Insert all required experience data into list
for i in ambitionbox_salary_experience_required_tag:
    ambitionbox_salary_experience_required_ = i.text
    ambitionbox_salary_experience_required.append(ambitionbox_salary_experience_required_)
ambitionbox_salary_experience_required[0:4]

['Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp']

In [27]:
# Scraping data for minimum salary
ambitionbox_salary_min_tag = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
ambitionbox_salary_min_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="eadf36c0-f93c-49c4-90fd-f2421d466643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="0ec51557-0b47-4e0e-9f30-688c5c73788f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="659a2a7d-da8c-4ef3-9b3f-208d2257de97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="e71684c3-9719-4da6-84b4-2fc192dde722")>]

In [28]:
# Insert all minimum salary data into list
for i in ambitionbox_salary_min_tag:
    ambitionbox_salary_min_ = i.text
    ambitionbox_salary_min.append(ambitionbox_salary_min_)
ambitionbox_salary_min[0:4]

['₹ 15.0L', '₹ 9.8L', '₹ 11.0L', '₹ 9.5L']

In [29]:
# Scraping data for maximum salary
ambitionbox_salary_max_tag = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
ambitionbox_salary_max_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="3be8579e-6b38-4529-9cf7-3c53a0d0b6cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="4c43933e-40b3-477c-a0e3-17c805b33016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="6703bc51-e09f-4714-8f15-855263e6681d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="221cf041-3c1c-4b20-8328-43b7657727bd")>]

In [30]:
# Insert all maximum salary data into list
for i in ambitionbox_salary_max_tag:
    ambitionbox_salary_max_ = i.text
    ambitionbox_salary_max.append(ambitionbox_salary_max_)
ambitionbox_salary_max[0:4]

['₹ 23.0L', '₹ 19.5L', '₹ 21.3L', '₹ 22.0L']

In [31]:
# Scraping data for average salary
ambitionbox_salary_avg_tag = driver.find_elements_by_xpath("//p[@class='averageCtc']")
ambitionbox_salary_avg_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="103f0f43-63bc-4544-b07d-1a77d36a06a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="1d085d49-ba07-4b16-8ceb-58d9065ed543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="ee201505-4299-4e01-99c3-5793ac0464f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="337a630b97e9a3d66f4d3c0e3cd8d184", element="1c40a945-5dd1-42d3-9b97-ee1d1d07fc76")>]

In [32]:
# Insert all average salary data into list
for i in ambitionbox_salary_avg_tag:
    ambitionbox_salary_avg_ = i.text
    ambitionbox_salary_avg.append(ambitionbox_salary_avg_)
ambitionbox_salary_avg[0:4]

['₹ 19.0L', '₹ 15.3L', '₹ 15.0L', '₹ 15.0L']

In [33]:
# Creating empty data frame
ambitionbox_salary_comparision = pd.DataFrame({})

# Adding column into data frame
ambitionbox_salary_comparision['Company Name'] = ambitionbox_salary_company_name
ambitionbox_salary_comparision['Total Salary Record'] = ambitionbox_salary_record
ambitionbox_salary_comparision['Average Salary'] = ambitionbox_salary_avg
ambitionbox_salary_comparision['Minimum Salary'] = ambitionbox_salary_min
ambitionbox_salary_comparision['Maximum Salary'] = ambitionbox_salary_max
ambitionbox_salary_comparision['Experience Required'] = ambitionbox_salary_experience_required

In [34]:
# Displaying data frame
ambitionbox_salary_comparision

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Ab Inbev,based on 20 salaries,₹ 19.0L,₹ 15.0L,₹ 23.0L,Data Scientist\n . \n3-4 yrs exp
1,ZS,based on 12 salaries,₹ 15.3L,₹ 9.8L,₹ 19.5L,Data Scientist\n . \n2 yrs exp
2,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,Data Scientist\n . \n3-4 yrs exp
3,Fractal Analytics,based on 66 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,Data Scientist\n . \n2-4 yrs exp
4,UnitedHealth,based on 47 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp
5,Tiger Analytics,based on 26 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,Data Scientist\n . \n3-4 yrs exp
6,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist\n . \n4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
8,Ericsson,based on 42 salaries,₹ 11.7L,₹ 5.2L,₹ 21.5L,Data Scientist\n . \n3-4 yrs exp
9,Deloitte,based on 49 salaries,₹ 11.2L,₹ 6.8L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp

In [35]:
# Removing extra value from 'Experience Required' except experience
ambitionbox_salary_comparision['Experience Required'] = ambitionbox_salary_comparision['Experience Required'].str.partition('. \n')[2]

In [36]:
# Displaying data frame
ambitionbox_salary_comparision

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Ab Inbev,based on 20 salaries,₹ 19.0L,₹ 15.0L,₹ 23.0L,3-4 yrs exp
1,ZS,based on 12 salaries,₹ 15.3L,₹ 9.8L,₹ 19.5L,2 yrs exp
2,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
3,Fractal Analytics,based on 66 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
4,UnitedHealth,based on 47 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
5,Tiger Analytics,based on 26 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
6,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
8,Ericsson,based on 42 salaries,₹ 11.7L,₹ 5.2L,₹ 21.5L,3-4 yrs exp
9,Deloitte,based on 49 salaries,₹ 11.2L,₹ 6.8L,₹ 20.5L,2-4 yrs exp

In [37]:
# Close the current driver
driver.close()